.button {
  padding: 10px 30px;
  font-family: MontserratBold;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
}

.button.no-bg {
  background: #fff;
  color: #0B5388;
  border: 3px solid #0B5388;
}

.registration {
  height: calc(100vh - 70px);
  background: url("/images/reg-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reg-form {
  background: url("/images/reg-form.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reg-form .body {
  padding: 5% 10% 15px 10%;
  overflow: auto;
  height: calc(100vh - 70px);
}

.reg-form h3 {
  color: #0B5388;
}

.reg-form .log-btn {
  position: relative;
}

.reg-form .log-btn .fb {
  color: #fff;
  background: #32508d;
  width: 100%;
  font-weight: 600;
  padding: 7px 26px 7px 26px;
  margin: 10px 0;
  font-size: 12px;
  border-radius: 25px;
}

.reg-form .log-btn .fab {
  font-weight: normal !important;
}

.reg-form .log-btn h2 {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 5px 0 5px;
  font-size: 16px;
}

.reg-form .log-btn h2 span {
  text-transform: lowercase !important;
  font-size: 12px;
  color: #000;
  padding: 0px 5px;
  background: #fff;
}

.reg-form .form-design input[type=email] {
  border: 1px solid #0B5388;
}

.reg-form .form-design input[type=password],
.reg-form .form-design input[type=number],
.reg-form .form-design input[type=text] {
  border: 1px solid #0B5388;
  background: #fff;
}

.reg-form .form-design input[type=password]::-webkit-input-placeholder,
.reg-form .form-design input[type=number]::-webkit-input-placeholder,
.reg-form .form-design input[type=text]::-webkit-input-placeholder {
  font-size: 0.9rem;
}

.reg-form .form-design input[type=password]:-ms-input-placeholder,
.reg-form .form-design input[type=number]:-ms-input-placeholder,
.reg-form .form-design input[type=text]:-ms-input-placeholder {
  font-size: 0.9rem;
}

.reg-form .form-design input[type=password]::-ms-input-placeholder,
.reg-form .form-design input[type=number]::-ms-input-placeholder,
.reg-form .form-design input[type=text]::-ms-input-placeholder {
  font-size: 0.9rem;
}

.reg-form .form-design input[type=password]::placeholder,
.reg-form .form-design input[type=number]::placeholder,
.reg-form .form-design input[type=text]::placeholder {
  font-size: 0.9rem;
}

.reg-form .text-underline {
  border-bottom: 1px solid #707070;
}

.reg-form .form-footer {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.reg-form .form-footer p {
  font-size: 11px;
}

#success-reg-mdl .success-reg-mdl {
  padding: 45px 40px;
}

#success-reg-mdl .success-reg-mdl img {
  margin-bottom: 25px;
}

#success-reg-mdl .success-reg-mdl h3 {
  font-weight: 800;
  color: #0B5388;
}

#success-reg-mdl .success-reg-mdl p {
  font-size: 16px;
}

#forgot-mdl .forgot-mdl {
  padding: 45px 40px;
}

#forgot-mdl .forgot-mdl img {
  margin-bottom: 25px;
}

#forgot-mdl .forgot-mdl h3 {
  font-weight: 800;
  color: #0B5388;
}

#forgot-mdl .forgot-mdl p {
  font-size: 16px;
}

#forgot-mdl input[type=email] {
  border: 1px solid #0B5388;
}

#forgot-mdl input[type=password],
#forgot-mdl input[type=number],
#forgot-mdl input[type=text] {
  border: 1px solid #0B5388;
  background: #fff;
}

#forgot-mdl input[type=password]::-webkit-input-placeholder,
#forgot-mdl input[type=number]::-webkit-input-placeholder,
#forgot-mdl input[type=text]::-webkit-input-placeholder {
  font-size: 0.9rem;
}

#forgot-mdl input[type=password]:-ms-input-placeholder,
#forgot-mdl input[type=number]:-ms-input-placeholder,
#forgot-mdl input[type=text]:-ms-input-placeholder {
  font-size: 0.9rem;
}

#forgot-mdl input[type=password]::-ms-input-placeholder,
#forgot-mdl input[type=number]::-ms-input-placeholder,
#forgot-mdl input[type=text]::-ms-input-placeholder {
  font-size: 0.9rem;
}

#forgot-mdl input[type=password]::placeholder,
#forgot-mdl input[type=number]::placeholder,
#forgot-mdl input[type=text]::placeholder {
  font-size: 0.9rem;
}

#reset-success-mdl .forgot-mdl {
  padding: 45px 40px;
}

#reset-success-mdl .forgot-mdl img {
  margin-bottom: 25px;
}

#reset-success-mdl .forgot-mdl h3 {
  font-weight: 800;
  color: #0B5388;
}

#reset-success-mdl .forgot-mdl p {
  font-size: 16px;
}

#reset-success-mdl input[type=email] {
  border: 1px solid #0B5388;
}

#reset-success-mdl input[type=password],
#reset-success-mdl input[type=number],
#reset-success-mdl input[type=text] {
  border: 1px solid #0B5388;
  background: #fff;
}

#reset-success-mdl input[type=password]::-webkit-input-placeholder,
#reset-success-mdl input[type=number]::-webkit-input-placeholder,
#reset-success-mdl input[type=text]::-webkit-input-placeholder {
  font-size: 0.9rem;
}

#reset-success-mdl input[type=password]:-ms-input-placeholder,
#reset-success-mdl input[type=number]:-ms-input-placeholder,
#reset-success-mdl input[type=text]:-ms-input-placeholder {
  font-size: 0.9rem;
}

#reset-success-mdl input[type=password]::-ms-input-placeholder,
#reset-success-mdl input[type=number]::-ms-input-placeholder,
#reset-success-mdl input[type=text]::-ms-input-placeholder {
  font-size: 0.9rem;
}

#reset-success-mdl input[type=password]::placeholder,
#reset-success-mdl input[type=number]::placeholder,
#reset-success-mdl input[type=text]::placeholder {
  font-size: 0.9rem;
}

