@font-face {
    font-family: 'Renogare';
    src: url('Renogare-Regular.woff2') format('woff2'),
        url('Renogare-Regular.woff') format('woff'),
        url('Renogare-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

