<template>
    <section>
        <div class="footer">
            <div class="container">
                <div class="row h-100 align-items-center mb-3">
                    <div class="col-12 col-lg-9 text-center text-lg-left">
                       
                        <ul class="m-0">
                           <li>
                                <router-link :to="{name: 'home'}">
                            <img src="/images/kitika-white.svg" class="logo mb-2" alt="">
                        </router-link>
                           </li>
                            <li>
                                <router-link :to="{name: 'about'}" target="_blank" class="">About</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'privacy'}" target="_blank">Privacy Policy</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'terms'}" target="_blank">Terms of Use </router-link>
                            </li>
                        </ul>

                    </div>

                      <div class="col-12 col-lg-3 social text-center text-lg-center">
<!--                        <p class="mb-2">Follow Us</p>-->
                        <a href="https://www.facebook.com/KitikaOfficial/" class="active px-0" target="_blank"><img src="/images/FacebookArtboard_2.png" class="img-fluid f-img"></a>
<!--
                        <a href="https://twitter.com/KitikaOfficial" class="active px-2" target="_blank"><img src="/images/icons/twitter-w.svg"></a>
                        <a href="https://www.instagram.com/kitika247/" class="active px-0" target="_blank"><img src="/images/icons/instagram-w.svg"></a>
-->
                    </div>
                </div>

            </div>

            <div class="col-12 text-center p-0 border-top">

                <p class="text-center mt-2 mb-2 d-block fnt-s">Copyright @ 2019 Kitika</p>
            </div>

            <!--
          <div class="container">
              <div class="d-flex">
                  <div class="mr-auto">
                      <a class="" href="#">
                          <img src="/images/kitika-white.svg" class="logo d-inline-block align-top" alt="">
                      </a>
                  </div>
                  <div class="nav-opt mx-auto my-auto">
                      <a href="#home" class="active">Home</a>
                      <a href="#news">News</a>
                      <a href="#contact">Contact</a>
                  </div>
                  <div class="social ml-auto my-auto">
                      <a href="#home" class="active"><img src="/images/icons/facebook-w.svg"></a>
                      <a href="#home" class="active"><img src="/images/icons/twitter-w.svg"></a>
                      <a href="#home" class="active"><img src="/images/icons/instagram-w.svg"></a>
                  </div>
              </div>
              <p class="text-center">Copyright @ 2019 Kitika</p>
          </div>
-->
        </div>
    </section>
</template>
