<template>
    <section id="public-nav">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <a class="navbar-brand" href="/">
                <img src="/images/kitika-logo.svg" class alt>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" id="pubnav" style="border: none;">
                <span class="navbar-toggler-icon" style="background-image: url('/images/icons/hamburger.svg')"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0 d-none d-sm-none d-md-none d-lg-flex d-xl-flex">
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name:'about'}">
                            About
                            <span class="sr-only">(current)</span>
                        </router-link>
                    </li>
                </ul>
                <!--Show if LOGOUT-->
                <ul class="navbar-nav ml-auto ml-sm-auto ml-md-0 ml-lg-0 ml-xl-0">
                    <li class="nav-item pr-0">
                        <a :href="myacc_url+'register'" class="button white mb-3">Sign Up</a>

                    </li>
                    <li class="nav-item">
                        <a :href="myacc_url+'login'" class="button d-blue">Log In</a>

                    </li>
                </ul>
                <!---->
            </div>
        </nav>
        <div class="pubnav-mobile" style="display:none;">
            <div class="header" style="background-image: url('/images/pubnav-header.jpg');">
                <div class="overlay">
                    <a class="close-btn" id="close-pubnav-m">
                        <img src="/images/icons/x.svg" alt>
                    </a>
                    <div class="body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <a :href="myacc_url+'register'" class="button d-block white mb-3">Sign Up</a>
                                    <a :href="myacc_url+'login'" class="button d-block d-blue">Log In</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-footer">
                <a class="brand" href="#">
                    <img src="/images/kitika-logo.svg" class="logo d-inline-block align-top" alt>
                </a>
                <p class="terms">
                    <a href="#">Terms and Conditions</a> |
                    <a href="#">Privacy Poilicy</a>
                </p>
            </div>
        </div>
        <!--
    <div class="page-title d-lg-none d-xl-none">
      <p>Dashboards</p>
    </div>
-->
    </section>
</template>
<script>
    import {
            links
            } from '../../globals/app';

    export default {
        data: () => {
            return {
                myacc_url: links[process.env.VUE_APP_MODE],
            }
        }
    }
</script>