<template>
    <section>
        <user-nav></user-nav>
        <div class="content">
            <div id="about">
                <div class="header" style="background-image: url('/images/about/header.jpg');">
                    <div class="overlay">
                        <div class="body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                        <h5>About</h5>
                                        <h4 class="mb-5 mb-lg-0 mb-xl-0">Kitika</h4>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                        <p>Kitika is subscription-based service that provides 24/7 Primary Medical Care through the aide of Nurses, General Practitioners, and Specialist Doctors, all through the convenience of your Mobile Phone.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="how">
                    <div class="container">
                        <div class="head">
                            <p class="sub">Need to consult with a doctor?<br>Just follow these 3 simple steps.</p>
                            <hr class="mx-auto">
                        </div>

                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 d-none d-sm-none d-md-none d-lg-block d-xl-block">
                                <div id="1" class="d-flex step-btn first one" data-image="/images/about/mobilephone.png">
                                    <hr>
                                    <div class="img align-self-center">
                                        <img class="" src="/images/icons/01.svg">
                                    </div>
                                    <div class="step align-self-top">
                                        <p class="title">Step</p>
                                        <p class="label">1</p>
                                    </div>
                                    <div class="text mr-auto align-self-top">
                                        <p class="title blue">Sign Up</p>
                                        <p>Create a Kitika account by filling up our registration form.</p>
                                    </div>
                                </div>
                                <div id="2" class="d-flex step-btn two" data-image="/images/about/mobilephone2.png">
                                    <hr>
                                    <div class="img align-self-center">
                                        <img class="" src="/images/icons/02.svg">
                                    </div>
                                    <div class="step align-self-top">
                                        <p class="title">Step</p>
                                        <p class="label">2</p>
                                    </div>
                                    <div class="text mr-auto align-self-top">
                                        <p class="title blue">Subscribe</p>
                                        <p>Choose your preferred subscription plan.</p>
                                    </div>
                                </div>
                                <div id="3" class="d-flex step-btn three" data-image="/images/about/mobilephone3.png">
                                    <hr>
                                    <div class="img align-self-center">
                                        <img class="" src="/images/icons/03.svg">
                                    </div>
                                    <div class="step align-self-top">
                                        <p class="title">Step</p>
                                        <p class="label">3</p>
                                    </div>
                                    <div class="text mr-auto align-self-top">
                                        <p class="title blue">Consult</p>
                                        <p>Talk directly with a Nurse and Doctor by choosing your preferred method of communication.</p>
                                    </div>
                                </div>
                                <div class="stepy-block">
                                    <div class="progress-line">

                                    </div>
                                    <div class="block-1 block-class">

                                    </div>
                                    <div class="block-2 block-class">

                                    </div>
                                    <div class="block-3 block-class">

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 d-none d-lg-block ">
                                <div class="mobile-phone">
                                    <img src="/images/about/mobilephone.png" class="mobile-phone d-block" id="desktop-mp" width="318" height="472">
                                </div>
                            </div>
                        </div>
                        <div id="how-slider" class="carousel slide d-lg-none d-xl-none" data-ride="carousel">
                            <ul class="carousel-indicators mt-3">
                                <li data-target="#how-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#how-slider" data-slide-to="1"></li>
                                <li data-target="#how-slider" data-slide-to="2"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item text-center active">
                                    <img src="/images/about/mobilephone.png" class="mobile-phone mb-3 d-block img-fluid" id="" width="318" height="472">

                                    <img class="" src="/images/icons/01.svg">
                                    <div class="d-flex">
                                        <div class="step align-self-top ml-auto">
                                            <p class="title">Step</p>
                                            <p class="label">01</p>
                                        </div>
                                        <div class="text align-self-top mr-auto">
                                            <p class="title blue text-left">Sign Up</p>
                                            <p class="text-left">Create a Kitika account by filling up our registration form.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item text-center">
                                    <img src="/images/about/mobilephone2.png" class="mobile-phone mb-3 d-block img-fluid" id="" width="318" height="472">
                                    <img class="" src="/images/icons/02.svg">
                                    <div class="d-flex">
                                        <div class="step align-self-top ml-auto">
                                            <p class="title">Step</p>
                                            <p class="label">02</p>
                                        </div>
                                        <div class="text align-self-top mr-auto">
                                            <p class="title blue text-left">Subscribe</p>
                                            <p class="text-left">Choose the subscription plan that best suits you and your family</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item text-center">
                                    <img src="/images/about/mobilephone3.png" class="mobile-phone mb-3 d-block img-fluid" id="" width="318" height="472">
                                    <img class="" src="/images/icons/03.svg" style="    width: 80px;
    height: 87px;">
                                    <div class="d-flex">
                                        <div class="step align-self-top ml-auto">
                                            <p class="title">Step</p>
                                            <p class="label">03</p>
                                        </div>
                                        <div class="text align-self-top mr-auto">
                                            <p class="title blue text-left">Consult</p>
                                            <p class="text-left">Consult a doctor through the method of your choice</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service">
                    <div class="body">
                        <div class="border-mobile">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                        <!--<h5 class="text-right"><span> Service<br>Flow</span></h5>-->
                                        <h5 class="text-right"><span> How It <br>Works</span></h5>
                                        <img src="/images/about/laptop.png" class="laptop d-lg-none d-xl-none mb-3">
                                    </div>
                                    <img src="/images/about/laptop.png" class="laptop d-none d-lg-block d-xl-block">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 d-none d-sm-none d-md-none d-lg-block d-xl-block">
                                        <div class="row mb-4">
                                            <div class="col-1">
                                                <img class="" src="/images/icons/call-bw.svg">
                                            </div>
                                            <div class="col-5">
                                                <h6 class="mt-0 d-inline-block uppercase">CALL</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="mb-0">Chat, Call or Video Call us to get a consultation with an Accredited Licensed Doctor.</p>
                                            </div>
                                        </div>

                                        <div class="row mb-4">
                                            <div class="col-1">
                                                <img class="" src="/images/icons/health.svg">
                                            </div>
                                            <div class="col-5">
                                                <h6 class="mt-0 d-inline-block text-uppercase">TRIAGE</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="mb-0">Our Registered Nurses will perform a triage process to assess your condition and will proceed to transfer the call to our Accredited Licensed Doctors for further assessment.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-1">
                                                <img class="" src="/images/icons/consultation.svg">
                                            </div>
                                            <div class="col-5">
                                                <h6 class="mt-0 d-inline-block text-uppercase">CONSULTATION</h6>
                                            </div>
                                            <div class="col-6">
                                                <!--<p class="mb-0">During your teleconsultation our Accredited Licensed Doctors will go through your symptoms and will recommend a treatment plan or may refer you to one of our Partner Specialists.</p>-->
                                                <p class="mb-0">During your teleconsultation, our Accredited Licensed Doctors will go through your symptoms to recommend a Treatment Plan, or may refer you to one of our Partner Specialists.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-1">
                                                <img class="" src="/images/icons/prescription.svg">
                                            </div>
                                            <div class="col-5">
                                                <h6 class="mt-0 d-inline-block text-uppercase">E-PRESCRIPTION</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="mb-0">The recommended Treatment Plan and e-Presciption will be sent to your Kitika inbox and registered email.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-1">
                                                <img class="" src="/images/icons/delivery.svg">

                                            </div>
                                            <div class="col-5">
                                                <h6 class="mt-0 d-inline-block text-uppercase">MEDICINE DELIVERY</h6>
                                            </div>
                                            <div class="col-6">
                                                <p class="mb-0">
                                                    <p class="mb-0">Medicine Delivery Service is also available upon your request.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="service-slider" class="carousel slide d-lg-none d-xl-none" data-ride="carousel">
                                    <ul class="carousel-indicators">
                                        <li data-target="#hkw-slider" data-slide-to="0" class="active"></li>
                                        <li data-target="#hkw-slider" data-slide-to="1"></li>
                                        <li data-target="#hkw-slider" data-slide-to="2"></li>
                                        <li data-target="#hkw-slider" data-slide-to="3"></li>
                                        <li data-target="#hkw-slider" data-slide-to="4"></li>
                                    </ul>
                                    <div class="carousel-inner">
                                        <div class="carousel-item text-center active">
                                            <div class="col-12">
                                                <img class="" src="/images/icons/call-bw.svg">

                                            </div>
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mt-0">CALL</h5>
                                                    <p class="mb-0">Chat, Call or Video Call us to get a consultation with an Accredited Licensed Doctor.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item text-center">
                                            <img class="" src="/images/icons/health.svg">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mt-0">TRIAGE</h5>
                                                    <p class="mb-0">During your teleconsultation our Accredited Licensed Doctors will go through your symptoms and will recommend a treatment plan or may refer you to one of our Partner Specialists.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="carousel-item text-center">
                                            <img class="" src="/images/icons/consultation.svg">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mt-0">CONSULTATION</h5>
                                                    <p class="mb-0">Our Registered Nurses will perform a triage process to assess your condition and will proceed to transfer the call to our Accredited Licensed Doctors for further assessment.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item text-center">
                                            <img class="" src="/images/icons/prescription.svg">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mt-0">E-PRESCRIPTION</h5>
                                                    <p class="mb-0">Recommended Treatment Plan and e-Presciption will be sent to your Kitika inbox and registered email.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item text-center">
                                            <img class="" src="/images/icons/delivery.svg">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mt-0">MEDICINE DELIVERY</h5>
                                                    <p class="mb-0">Medicine Delivery Service is also available upon your request.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="newsletter">
                    <div class="content-body">
                        <div class="">
                            <div class="custom-maxcontainer">
                                <h5><span class="">Kitika</span>
                                    <span>Newsletter</span>
                                </h5>
                                <p>
                                    Would you like to keep yourself updated on Kitika and
                                    current news on Healthcare? Sign up to our Newsletter.
                                </p>

                                <div class="row h-100 align-items-center">
                                    <div class="col input-cont">
                                        <input type="email" class="form-control" placeholder="Your Email Address">
                                    </div>
                                    <div class="col">
                                        <form>
                                            <button type="submit" class="button ll-blue">SUBSCRIBE TO NEWSLETTER</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="newsletter">
                    <div class="content-body">
                        <div class="">
                            <div class="custom-maxcontainer">
                                <h5><span class="">Kitika</span>
                                    <span>Newsletter</span>
                                </h5>
                                <p>
                                    Would you like to keep yourself updated on Kitika and
                                    current news on Healthcare? Sign up to our Newsletter.
                                </p>
                                <form @submit.prevent="subscribeToNewsLetter">
                                    <div class="row h-100 align-items-center">
                                        <div class="col input-cont">
                                            <input type="email" v-model="email" required class="form-control" placeholder="Your Email Address">
                                        </div>
                                        <div class="col">
                                            <button type="submit" class="button ll-blue">SUBSCRIBE TO NEWSLETTER <i class="fas fa-spinner fa-spin" v-if="saving_email"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <web-footer></web-footer>
    </section>
</template>
<script>
    export default {
        data: () => {
            return {
                data: {},
                email: '',
                saving_email: false
            }
        },
        methods: {
            subscribeToNewsLetter() {

                this.saving_email = true;
                axios.post(api_url + '/subscribe-to-news-letter', {
                    email: this.email
                }).then(response => {
                    this.saving_email = false;
                    this.email = '';
                    this.$swal('', 'Thank you for subscribing to our newsletter!', 'success');
                });
            }
        },
        mounted() {
            //About Page mobile phone
            $('.step-btn').click(function() {
                var imahe = $(this).data('image');
                $('#desktop-mp').attr('src', imahe);
                $('.step-btn').removeClass('first');
                $(this).addClass('first');
                var selectedId = $(this).attr('id');
                $('.block-class').removeClass('first');
                $('.block-' + selectedId).addClass('first');

            })

            var autoClick = 0;
            $('.step-btn').each(function(index, element) {
                var currentButton = $(this);
                setTimeout(function() {
                    currentButton.trigger('click');
                }, autoClick);
                autoClick += 5000;
            });
            $(".step-btn").mouseover(function() {
                var currentStepButton = $(this);
                currentStepButton.click();
            });
        }
    }

</script>
