<template>
    <section>
        <div class="content">
            <div id="home">
                <div id="home-slider" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#home-slider" data-slide-to="1"></li>
                        <li data-target="#home-slider" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="background-image: url('/images/slider/new-bg.jpg');">
                            <!-- <img src="/images/slider/img-1.jpg"> -->
                            <div class="carousel-caption">
                                <div class="body mobile-body ">
                                    <div class="container">

                                        <!--                    <img src="/images/logo-smw.svg" class="logo mr-auto">-->
                                        <h2>Need A Doctor?</h2>
                                        <p>Subscribe to Kitika now and get access to UNLIMITED medical consultations, 24 hours a day, 7 days a week!</p>
                                        <a href="/register" class="button blue " :class="{active :this.$route.name == 'dashboard'}">Register Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid options">
                    <div class="row">
                        <div class="columns col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3" style="background-image: url('/images/home/bg-1.jpg');">
                            <div class="media">
                                <img class src="/images/icons/chat-white.svg">
                                <div class="media-body">
                                    <h5 class="mt-0">Chat</h5>
                                    <p>Chat with one of our Accredited Licensed Doctors now!</p>
                                    <!--<router-link :to="{name: 'userDashboard'}" class="button ll-blue d-block mr-auto">Start Chat</router-link>-->
                                    <a href="/dashboard" class="button ll-blue d-block mr-auto">Start Chat</a>
                                </div>
                            </div>
                        </div>
                        <div class="columns second-col col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 border border-top-0 border-bottom-0" style="background-image: url('/images/home/bg-2.png');">
                            <div class="media">
                                <img class src="/images/icons/calling.svg">
                                <div class="media-body">
                                    <h5 class="mt-0">Call</h5>
                                    <p class="mb-0">Yes, you may also consult a doctor by giving us a call!</p>
                                    <p class="number number-query mb-0 d-none d-lg-block ">(02) 802-5555</p>
                                    <p class="number mb-0 d-block d-lg-none"><u><a href="tel:028025555" class="fc-white button ll-blue number-no-style">(02) 802-5555</a></u></p>
                                </div>
                            </div>
                        </div>
                        <div class="columns col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="background-image: url('/images/home/bg-3.jpg');">
                            <form class>
                                <div class="row no-gutters">
                                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                                        <h5 class="mt-0">Callback</h5>
                                        <p class="mb-0">Want us to contact you instead? Choose how and where we can reach you.</p>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                                        <div class="row no-gutters">

                                            <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-8  mx-auto mg-top ">
                                                <div class="radio-cont">
                                                    <input type="radio" value="Video Call via Viber" id="e-option" name="selector2" v-model="data.type">
                                                    <label for="e-option" class="fc-white"> Video call via Viber<img src="/images/home/viber-svg.svg" width="28" class="img-fluid ml-2" alt=""></label>

                                                    <div class="check c-1"></div>
                                                </div>
                                                <!--
                                                <div class="radio-cont">
                                                    <input type="radio" value="Whatsapp" id="d-option" name="selector2" @input="disableOpt($event)" v-model="data.provider">
                                                    <label for="d-option" class="fc-white"> Whatsapp<img src="/images/home/what-svg.svg" width="28" class="img-fluid ml-2" alt=""></label>
                                                    <div class="check c-2"></div>
                                                </div>
-->
                                                <div class="radio-cont">
                                                    <input type="radio" value="Call via Mobile" id="m-option" name="selector2"  v-model="data.type">
                                                    <label for="m-option" class="fc-white"> Call via Mobile<img src="/images/home/mobile-svg.svg" width="28" class="img-fluid ml-2" alt=""></label>
                                                    <div class="check c-2"></div>
                                                </div>
                                            </div>
<!--
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  mg-top">
                                                <div class="radio-cont">
                                                    <input type="radio" v-if="data.provider != 'Mobile'" value="Chat" id="a-option" name="selector" :disabled="data.provider == 'Mobile'" v-model="data.type">
                                                    <label for="a-option" class="fc-white" v-bind:class="{'invisible' : data.provider == 'Mobile'}">Chat</label>
                                                    <div class="check" v-if="data.provider != 'Mobile'"></div>
                                                </div>
                                                <div class="radio-cont">
                                                    <input type="radio" value="Call" id="b-option" name="selector" v-model="data.type">
                                                    <label for="b-option" class="fc-white">Call</label>
                                                    <div class="check"></div>
                                                </div>
                                                <div class="radio-cont">
                                                    <input type="radio" value="Video Call" id="c-option" name="selector" v-if="data.provider != 'Mobile'" :disabled="data.provider == 'Mobile'" v-model="data.type">
                                                    <label for="c-option" class="h-15 fc-white" v-bind:class="{'invisible' : data.provider == 'Mobile'}">Video Call</label>
                                                    <div class="check" v-if="data.provider != 'Mobile'"></div>
                                                </div>
                                            </div>
-->
                                        </div>
                                    </div>


                                </div>
                                <div class="row mt-4 no-gutters">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="row no-gutters-sm">
                                            <div class="col-12 col-md-4"> <input type="text" class="mobile-number ml-auto" name value placeholder="First Name" v-model="data.first_name"></div>
                                            <div class="col-12 col-md-4">
                                                <input type="text" class="mobile-number ml-auto" name value placeholder="Last Name" v-model="data.last_name">
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <input type="number" class="mobile-number ml-auto" name value placeholder="Mobile Number" v-model="data.mobile_no" pattern="\d*" onkeypress="if(this.value.length==11) return false;">
                                            </div>
                                            <div class="col-12">
                                                <button @click="requestCallBack" type="button" class="button ll-blue mx-auto d-block send-number">Send <i class="fas fa-spinner fa-spin" v-if="sending_callback"></i></button>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="how-kitika-works">
                    <div class="container">
                        <div id="hkw-slider" class="carousel slide d-md-none d-lg-none d-xl-none" data-ride="carousel">
                            <p class="title text-center">How
                                <span>Kitika</span>
                                <br>Works?
                            </p>
                            <hr>
                            <ul class="carousel-indicators">
                                <li data-target="#hkw-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#hkw-slider" data-slide-to="1"></li>
                                <li data-target="#hkw-slider" data-slide-to="2"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item text-center active">
                                    <img class src="/images/icons/01.svg">
                                    <p class="label">01</p>
                                    <p>Create your own Kitika account.</p>
                                </div>
                                <div class="carousel-item text-center">
                                    <img class src="/images/icons/02.svg">
                                    <p class="label">02</p>
                                    <p>Choose the subscription plan that best suits you and your family.</p>
                                </div>
                                <div class="carousel-item text-center">
                                    <img class src="/images/icons/03.svg" width="80" height="87">
                                    <p class="label">03</p>
                                    <p>Consult a doctor through the method of your choices.</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
                            <div class="row h-100 align-items-center">
                                <div class="col-3">
                                    <p class="title">How
                                        <br>
                                        <span>Kitika</span>
                                        <br>Works?
                                    </p>
                                    <hr class="desktop">
                                </div>
                                <div class="col-3">
                                    <img class src="/images/icons/01.svg">
                                    <p class="label">01</p>
                                    <p>Create your own Kitika account.</p>
                                </div>
                                <div class="col-3">
                                    <img class="mr-3" src="/images/icons/02.svg">
                                    <p class="label">02</p>
                                    <p>Choose the subscription plan that best suits you and your family.</p>
                                </div>
                                <div class="col-3">
                                    <img class="mr-3" src="/images/icons/03.svg" width="80" height="87">
                                    <p class="label">03</p>
                                    <p>Consult a doctor through the method of your choice.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why-choose-us">
                    <div class="container">
                        <p class="title">
                          <span>COMPLETE. CONVENIENT. AFFORDABLE.</span>
                        </p>
                        <hr>
                        <p class="sub">We've got you and your family covered! From hassle-free consultations, specialist referrals and medicine delivery right at your doorstep. We make sure you will get the complete care you need.</p>
                        <div id="wcu-slider" class="carousel slide d-lg-none d-xl-none" data-ride="carousel">
                            <ul class="carousel-indicators">
                                <li data-target="#wcu-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#wcu-slider" data-slide-to="1"></li>
                                <!--
                                <li data-target="#wcu-slider" data-slide-to="2"></li>
                                <li data-target="#wcu-slider" data-slide-to="3"></li>
-->
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="columns my-auto borderrad light text-center">
                                        <img class="d-block mx-auto" src="/images/icons/e-prescription.svg">
                                        <p class="label">E-Prescriptions</p>
                                        <p>After your consultation with our Accredited Licensed Doctors, an e-Prescription and Treatment Plan for your concern will be sent to your Kitika inbox and registered e-mail. </p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="columns my-auto borderrad text-center">
                                        <img class="d-block mx-auto" src="/images/icons/medcert.svg">
                                        <p class="label">Medical Certificates</p>
                                        <p>After a careful assessment and diagnosis our Accredited Licensed Doctors may issue a Medical Certificate as needed.</p>
                                    </div>
                                </div>
                                <!--
                                <div class="carousel-item">
                                    <div class="columns my-auto borderrad light text-center">
                                        <img class="d-block mx-auto" src="/images/icons/meddel.svg">
                                        <p class="label">Medicine Delivery</p>
                                        <p>Don’t want to leave home to purchase your prescribed medicines? We can deliver!</p>
                                    </div>
                                </div>
-->
                                <!--
                                <div class="carousel-item">
                                    <div class="columns my-auto borderrad text-center">
                                        <img class="d-block mx-auto" src="/images/icons/ambulance.svg">
                                        <p class="label">Ambulance Service</p>
                                        <p>For emergencies, Kitika allows you to request for an Ambulance through our emergency care partners, Lifeline.com.ph.</p>
                                    </div>
                                </div>
-->
                            </div>
                        </div>
                        <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block">
                            <div class="row bx-sh">
                                <div class="col-6 columns light br-l">
                                    <img class="d-block mx-auto" src="/images/icons/e-prescription.svg">
                                    <p class="label">E-Prescriptions</p>
                                    <p>After your consultation with our Accredited Licensed Doctors, an e-Prescription and Treatment Plan for your concern will be sent to your Kitika inbox and registered e-mail.</p>
                                </div>
                                <div class="col-6 columns br-r">
                                    <img class="d-block mx-auto" src="/images/icons/medcert.svg">
                                    <p class="label">Medical Certificates</p>
                                    <p>After a careful assessment and diagnosis our Accredited Licensed Doctors may issue a Medical Certificate as needed.</p>
                                </div>
                                <!--
                                <div class="col-3 columns light">
                                    <img class="d-block mx-auto" src="/images/icons/meddel.svg">
                                    <p class="label">Medicine Delivery</p>
                                    <p>Don’t want to leave home to purchase your prescribed medicines? We can deliver!</p>
                                </div>
                                <div class="col-3 columns br-r">
                                    <img class="d-block mx-auto" src="/images/icons/ambulance.svg">
                                    <p class="label">Ambulance Service</p>
                                    <p>For emergencies, Kitika allows you to request for an Ambulance through our emergency care partners, Lifeline.com.ph.</p>
                                </div>
-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--
        <div class="pricing">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6 my-auto">
                <p class="title">Pricing
                  <span>& Packages</span>
                </p>
                <hr>
                <p
                  class="sub text-center text-sm-center text-md-left text-lg-left text-xl-left"
                >Our subscription packages are offered at an affordable price for your whole family’s healthcare needs.</p>
              </div>
              <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">
                <div class="row">
                  <div
                    class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-3"
                    v-for="(subV, subK) in subscriptions"
                    :key="subK"
                  >
                    <div class="plan mx-auto">
                      <div class="plan-head">
                        <p class="label">Best Plan</p>
                        <div class="prices">
                          <span class="php">php</span>
                          <span>{{subV.amount}}</span>
                        </div>
                      </div>
                      <p class="desc">{{subV.plan_name}}</p>
                    </div>
                  </div>
                  
W
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="plan second mx-auto">
                                            <div class="plan-head">
                                                <div class="prices"><span class="php">php</span><span>89</span></div>
                                            </div>
                                            <p class="desc">Monthly<br>Subscription</p>
                                            <a href="#" class="button d-blue text-center mx-auto">Select Plan</a>
                                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
-->
                <div class="newsletter">
                    <div class="content-body">
                        <div class="">
                            <div class="custom-maxcontainer">
                                <h5><span class="">Kitika</span>
                                    <span>Newsletter</span>
                                </h5>
                                <p>
                                    Would you like to keep yourself updated on Kitika and
                                    current news on Healthcare? Sign up to our Newsletter.
                                </p>
                                <form @submit.prevent="subscribeToNewsLetter">
                                    <div class="row h-100 align-items-center">
                                        <div class="col input-cont">
                                            <input type="email" v-model="email" required class="form-control" placeholder="Your Email Address">
                                        </div>
                                        <div class="col">
                                            <button type="submit" class="button ll-blue">SUBSCRIBE TO NEWSLETTER <i class="fas fa-spinner fa-spin" v-if="saving_email"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                                <h5>Kitika
                                    <span>Newsletter</span>
                                </h5>
                                <p>Would you like to keep yourself updated on Kitika and current news on Healthcare? Sign up to our Newsletter.</p>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-auto">
                                <div class="row">
                                    <div class="col-12 mb-3 text-center">
                                        <input type="email" class="form-control" placeholder="Your Email Address">
                                    </div>
                                    <div class="col-12 text-center">
                                        <form>
                                            <button type="submit" class="button ll-blue">SUBSCRIBE TO NEWSLETTER</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
-->
        </div>
    </section>
</template>


<script>
    export default {
        data: () => {
            return {
                user_info: typeof user_info != "undefined" ? user_info : {},
                data: {},
                callbackMessage: "",
                errorMessage: "",
                subscriptions: {},
                sending_callback: false,
                disabled: false,
                email: '',
                saving_email: false,
            };
        },

        methods: {
            requestCallBack() {
                this.sending_callback = true,
                    axios
                    .post(api_url+"/call-back", this.data)
                    .then(response => {
                        this.data = {};
                        let d = new Date();
                        let timestamp = d.getTime();
        //                func.fire_store()
        //                 .collection("task")
        //                 .add({
        //                 id: response.data.ticket.u_string_id,
        //                 ticket_id : response.data.ticket.ticket_id,
        //                 accepted_by: "null",
        //                 nurse_name: "null",
        //                 patient: {
        //                 name: response.data.ticket.first_name + ' ' + response.data.ticket.last_name,
        //                 complaints: 'null',
        //                 symptoms: 'null',
        //                 others: 'null',
        //                 id: '',
        //                 age: ''
        //                 },
        //                 timestamp: timestamp,
        //                 created_at: response.data.ticket.created_at,
        //                 accepted_at: "null",
        //                 doc_accepted_at: "null",
        //                 transferred_at: "null",
        //                 ended_at: "null",
        //                 doc_pending_time: "null",
        //                 pending_time: "null",
        //                 nurse_chat_duration: "null",
        //                 doctor_chat_duration: "null",
        //                 status: "",
        //                 transferred_to: "null",
        //                 consultation_task: ""
        //                 })
        //
                        this.sending_callback = false;
                        this.$swal("Request sent", "We will contact you shortly.", "success");
                    })
                    .catch(error => {
                        this.sending_callback = false;
                        this.$swal("Ooops!", "Please fill up all fields.", "warning");
                    });
            },
            subscribeToNewsLetter() {

                this.saving_email = true;
                axios.post(api_url + '/subscribe-to-news-letter', {
                    email: this.email
                }).then(response => {
                    this.saving_email = false;
                    this.email = '';
                    this.$swal('Success!', 'Thank you for subscribing to our newsletter!', 'success');
                });
            }
        },

        mounted() {

        }
    };

</script>
