<template>
    <section>
        <div class="maintenance">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 offset-lg-5 col-md-12 col-lg-7 position-relative">
                        <h1><i>The Doctor is <span>OUT</span></i> </h1>
                        <h3 class="mt-4"><i>WILL RETURN SHORTLY.</i></h3>
                        <p class="mt-4">
                            Sorry for the inconvenience as we undergo
                            a scheduled system maintenance.
                        </p>
                        <p>
                            Meanwhile, you can always call our<br>
                            hotline 802-5555 for consultations.
                        </p>
                        <div class="soc-meds text-center mt-5">
                           <div class="d-inline">
                                   <a href="https://www.facebook.com/KitikaOfficial/" target="_blank" class="active px-2"><img src="/images/icons/facebook-w.svg">/KitikaOfficial</a>
                           </div>
                            <div class="mx-3 d-inline">
                                <a href="https://www.instagram.com/kitika247/" target="_blank" class="active px-2"><img src="/images/icons/instagram-w.svg">/Kitika247</a>
                            </div>
                            <div class="d-block d-sm-inline mt-575">
                                  <a href="https://twitter.com/KitikaOfficial" target="_blank" class="active px-2"><img src="/images/icons/twitter-w.svg">KitikaOfficial</a>
                            </div>
                          

                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </section>
</template>
