<template>
    <section>
        <user-nav></user-nav>
        <div id="subscribe">
            <div class="subscribe mt-5">
                <div class="container">
                    <div class="head">
                        <p class="sub">Data Privacy Policy</p>
                        <hr class="mx-auto">
                    </div>
                    <div class="body">
                        <p><strong>Scope and Consent</strong></p>
                        <p>As part of our commitment to provide you excellent service, it’s important to us that you feel comfortable
                            and trust us with your information when you use Kitika Mobile Healthcare Inc. (“Kitika”) website and
                            mobile application services (“Services”). Our Data Privacy Policy explains Kitika’s privacy practices that
                            apply to the services we provide. Also, it protects your personal information under the Data Privacy Act of
                            2012 and the laws of the Philippines.</p>
                        <p>Please read the Data Privacy Policy carefully so that you can understand how Kitika collects, uses, and
                            discloses information from and/or about you when you use our site and services. If you do not understand
                            any aspect of our Data Privacy Policy, please feel free to contact using the information found at the end of
                            the Policy.</p>
                        <p>
                            By using the Service, you are also agreeing to our <router-link :to="{name: 'terms'}">Terms of Use</router-link>. Please make sure you read and agree
                            with our Terms of Use if you want to use Kitika.
                        </p>
                        <p><strong>Information We Collect</strong></p>
                        <p>When we use the term “Personal Information” in this Policy, we mean information about you that is
                            personally identifiable to you, such as your contact information (e.g., name, address, email address, or
                            contact number), personally identifiable health or medical information (“Health Information”), and any
                            other non-public information that is associated with such information (collectively, “Personal Information”).</p>
                        <p>The Personal Information we collect or maintain may include:</p>
                        <ol type="a">
                            <li>Your name, age, email address, username, password, and other registration information. When
                                you install the Kitika App, you’ll also be asked to allow us access to your Contacts, Location,
                                Camera, and Media. Data will be collected and stored on our servers in order for us to be able to
                                enable you to Contact Us, estimate your current Location, Video Call using your front-facing
                                camera, and Upload Media related to your current condition.</li>
                            <li>If you sign in to your Kitika account through third-party social media sites like Facebook,
                                Instagram, or Twitter, you agree to give us on-going access to your personal information on such
                                sites (e.g., your public profile, friend list, accounts you follow or who follow you, your email
                                address, birthday, work history, education history, interests, current city, and video viewing). We
                                may receive certain information about you which is stored on social media sites if users of those
                                sites give us access to their profiles and you are one of their friends or connections, depending
                                upon your settings on those sites.</li>
                            <li>Health Information that you provide us which may include information or records relating to your
                                medical or health history, health status and laboratory testing results, diagnostic images, and
                                other health related information.</li>
                            <li>Health information about you prepared by the health care provider(s) who provide the Services
                                through the Site such as medical records, treatment and examination notes, and other health
                                related information.</li>
                            <li>Billing information that you provide us.</li>
                            <li>Information about the computer or mobile device you are using, such as what Internet browser
                                you use, the kind of computer or mobile device you use, and other information about how you use
                                the Site.</li>
                            <li>Other information you input into the Site or related services.</li>
                        </ol>
                        <p><strong>Uses and Retention</strong></p>
                        <p>Our mission is to constantly improve our Services. As part of this mission, we use your information for the
                            following purposes:</p>
                        <ol type="a">
                            <li>To register and subscribe to Kitika</li>
                            <li>To provide you with the Services</li>
                            <li>To process your payments</li>
                            <li>To provide customer service, give you information about your account, and respond to your
                                requests</li>
                            <li>To improve the services offered – by performing quality reviews and similar activities</li>
                            <li>To notify you when Site updates are available</li>
                            <li>To market and promote our Site and the Services offered to you through the Site</li>
                            <li>To fulfill any other purpose for which you provide us Personal Information</li>
                            <li>For any other purpose for which you give us authorization</li>
                        </ol>
                        <p>Data Retention: We will retain your personal information throughout your subscription period. Upon
                            termination of your subscription, we will retain your information for a maximum period of 6 years.
                            Afterwards, all hard and soft copies of personal information shall be disposed and destroyed, through
                            secured means.</p>
                        <p><strong>Disclosure and Sharing</strong></p>
                        <p>We may also disclose Personal Information that we collect or you provide as permitted or allowed by law,
                            as follows:</p>
                        <ol type="a">
                            <li>To our affiliated medical groups.</li>
                            <li>To contractors, service providers and other third parties we use to support our business and who
                                are bound by contractual obligations to keep personal information confidential and use it only for
                                the purposes for which we disclose it to them.</li>
                            <li>As required by law, which can include providing information as required by law, regulation,
                                subpoena, court order, legal process or government request.</li>
                            <li>When we believe in good faith that disclosure is necessary to protect your safety or the safety of
                                others, to protect our rights, to investigate fraud, or to respond to a government request.</li>
                            <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization,
                                dissolution or other sale or transfer of some or all of Kitika’s assets, whether as a going concern
                                or as part of bankruptcy, liquidation or similar proceeding, in which Personal Information
                                maintained by the Site is among the assets transferred.</li>
                        </ol>
                        <p>All employees and personnel of the Kitika shall maintain the confidentiality and secrecy of all personal
                            data that come to their knowledge and possession, even after resignation, termination of contract, or
                            other contractual relations. Personal data under the custody of the company shall be disclosed only
                            pursuant to a lawful purpose, and to authorized recipients of such data.</p>
                        <p><strong>Cookies and Tracking Technologies</strong></p>
                        <p>As you use the Site or the Service, certain information may be passively collected by Cookies,
                            navigational data like Uniform Resource Locators (URLs) and third-party tracking services, including:</p>
                        <ol type="a">
                            <li>Site Activity Information. We may keep track of some of the actions you take on the Site, such as
                                the content of searches you perform on the Site.</li>
                            <li>Access Device and Browser Information. When you access the Site from a computer or other
                                device, we may collect anonymous information from that device, such as your Internet protocol
                                address, browser type, connection speed and access times.</li>
                            <li>Cookies. A cookie is a small file containing a string of characters that is sent to your computer
                                when you visit a website. When you visit the Site again, the cookie allows that site to recognize
                                your browser. Cookies may store unique identifiers, user preferences and other information. You
                                can reset your browser to refuse all cookies or to indicate when a cookie is being sent. However,
                                some Site features or services may not function properly without cookies. We use cookies to
                                improve the quality of our service, including for storing user preferences, tracking user trends and
                                providing relevant advertising to you.</li>
                            <li>Google Analytics. We use Google Analytics to help analyze how users use the Site. Google
                                Analytics uses Cookies to collect information such as how often users visit the Site, what pages
                                they visit, and what other sites they used prior to coming to the Site. We use the information we
                                get from Google Analytics only to improve our Site and Services. Google Analytics collects only
                                the IP address assigned to you on the date you visit the Site, rather than your name or other
                                personally identifying information. Although Google Analytics plants a persistent Cookie on your
                                web browser to identify you as a unique user the next time you visit the Site, the Cookie cannot
                                be used by anyone but Google. Google’s ability to use and share information collected by Google
                                Analytics about your visits to the Site is restricted by the Google Analytics Terms of Use and the
                                Google Privacy Policy.</li>
                        </ol>
                        <p><strong>Your Rights: Accessing, Reviewing and Changing Your Personal Information</strong></p>
                        <p>You have certain rights with regards to your personal data under the Data Privacy Act of 2012. As a
                            registered member, you can review and change personal information at any time by accessing your
                            account on the App or contacting our support. Please be sure to update your personal information
                            promptly if it changes or becomes inaccurate. We may retain some information from closed accounts so
                            that we can comply with law, prevent fraud, assist with investigations, resolve disputes, analyze, or
                            troubleshoot programs, enforce our Terms of Use, or take other actions permitted by law. Likewise, if your
                            account or membership is terminated or suspended, we may maintain some information to prevent you
                            from re-registering.</p>
                        <p><strong>Third Party Websites and Apps</strong></p>
                        <p>Our app or site may contain links to other third-party websites or you may access Apps from a third- party
                            site. We are not responsible for the privacy practices or the content of these third-party sites.</p>
                        <p><strong>Security</strong></p>
                        <p>We use industry standard physical, technical and administrative security measures and safeguards to
                            protect the confidentiality and security of your Personal Information. Specifically, the Site is protected by
                            SSL 3.0 technology, the leading security protocol for data transfer on the Internet. However, since the
                            Internet is not a 100% secure environment, we cannot guarantee, ensure, or warrant the security of any
                            information you transmit to us. There is no guarantee that information may not be accessed, disclosed,
                            altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. Even though
                            there are many benefits to using this Site, as with all electronic communications there are some risks
                            such as (i) failure of hardware, software and/or Internet connections; we are not responsible for failures,
                            distortions, delays, or other problems resulting from equipment configuration, connection, signal power,
                            hardware, software or any equipment used to access the internet; and (ii) no guarantee that the
                            confidentiality or security of electronic transmissions via the Internet can be assured due to potentially
                            unsecure computers and links. This could result in your data becoming lost or intercepted during
                            transmission. It is your responsibility to protect the security of your login information and to use good
                            judgment before deciding to send information via the Internet. Please note that e-mails and other
                            communications you send to us through our Site are not encrypted, and we strongly advise you not to
                            communicate any confidential information through these means.</p>
                        <p><strong>Children’s Privacy</strong></p>
                        <p>Our Services are not intended for children under the age of 18. Therefore we do not knowingly collect
                            personal information via our websites, applications, services, or tools from anyone under 18.</p>
                        <p><strong>B2B Partners Data</strong></p>
                        <p>When you communicate with us for business purposes as a B2B partner of ours, we will save your
                            contact data provided by you (phone number, email, address etc.), as well as any correspondence we
                            have had. We use trusted third-party processors to keep such data, all in accordance with the provisions
                            of this privacy policy. You have the ability to opt out of our direct marketing emails at any time and to
                            contact us with any request regarding your data.</p>
                        <p><strong>Updates to this Policy</strong></p>
                        <p>We may change this Data Privacy Policy from time to time in the future. We will post any revised version
                            of the Privacy Policy on this page and at other places we deem appropriate. Continued use of our Service
                            following notice of such changes will indicate your acknowledgement of such changes and agreement to
                            be bound by the terms and conditions of such changes. By using the Site and App, you are agreeing to
                            our collection, use and disposal of Personal Information and other data as described in this Data Privacy
                            Policy, both as it exists now and as it is changed from time to time.</p>
                        <p><strong>Contact Us</strong></p>
                        <p>If you have any questions, concerns, complaints or suggestions regarding or Data Privacy Policy or otherwise need to contact us, please email us at
                            <a href="mailto:dataprivacy@kitika.com">dataprivacy@kitika.com</a>, or contact us by mail at the following address:</p>
                        <p>
                            Kitika Mobile Healthcare, Inc. <br />
                            107 ICITE Bldg.,<br />
                            Orchard Rd., Brgy. Bagumbayan<br />
                            Eastwood City, Libis<br />
                            Quezon City, 1110<br/>
                            Hotline Number: (02) 802-5555<br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <web-footer></web-footer>
    </section>
</template>
