<template>
    <section>
        <user-nav></user-nav>
   
        <div id="subscribe">
            <div class="subscribe mt-5">
                <div class="container">
                    <div class="head">
                        <p class="sub">Terms of Use</p>
                        <hr class="mx-auto">
                    </div>
                    <div class="body terms-body">
                        <ol>
                            <li>
                                <strong>CONTRACTUAL RELATIONSHIP</strong>
                                <p>This Terms of Use (“Agreement”) constitutes a legally binding CONTRACT
                                    between the User and Kitika Mobile Healthcare, Inc., a corporation duly
                                    organized and existing under the laws of the Philippines (“Kitika”,
                                    “Company” “We”, “Our”). This Agreement governs and outlines the rights
                                    and obligations of the User’s license to use, within the Republic of the
                                    Philippines, the Kitika website (“Site”), Kitika mobile application (“Mobile
                                    App”), the software underlying the Site and App (“Software”), and other
                                    related media through which Kitika makes available its Services as defined in
                                    Section 3 below, including the information, features, images, videos, and
                                    related materials found therein. The Site, Mobile App and other related media
                                    are hereinafter collectively referred to as “Kitika Platform” or “Kitika”.</p>
                            </li>
                            <li>
                                <strong>ACCEPTANCE OF THE TERMS OF USE</strong>
                                <p>
                                    By downloading, installing, accessing, browsing and/or using the Kitika
                                    Platform, User acknowledges and agrees that: 1) he/she has read the terms and
                                    conditions of this Agreement; 2) he/she understands the entire Agreement; 3)
                                    he/she undertakes to be bound by this Agreement; and 4) he/she has read,
                                    understood and accepted the <router-link :to="{name: 'privacy'}">Privacy Policy</router-link> which forms an integral part of
                                    this Agreement.
                                </p>
                            </li>
                            <li>
                                <strong>MODIFICATION OF THESE TERMS</strong>
                                <p>Kitika reserves the right to modify the terms and conditions of this Agreement
                                    at any time. Changes to this Agreement will appear on the User’s account in
                                    the application and/or software. By clicking “YES” and “I AGREE” and
                                    accepting the revised Agreement, User agrees and accepts to be bound by the
                                    new and revised Agreements. Non-conformity with the revised Agreement
                                    follows with it the non-use of the Kitika application.</p>
                            </li>
                            <li>
                                <strong>SCOPE OF SERVICES</strong>
                                <ol type="a">
                                    <li>Kitika Platform enables registered users to obtain, request, schedule,
                                        arrange and undergo a medical consultation, medical services and/or
                                        healthcare services (“Consultation”) on demand by using their devices
                                        with duly accredited and Licensed Physicians (“Licensed Physician” or
                                        “Doctor”) of the Philippines. Users may seek their advice, assessment, or
                                        recommendation concerning health conditions through means of
                                        communication as provided by Kitika. The Services includes the issuance
                                        of a medical prescription and/or medical certificates at the discretion of the
                                        Licensed Physician as a result of the medical consultation.</li>
                                    <li>User fully understands that the Kitika Platform is not intended for medical
                                        emergencies, urgent situations, and/or grave or life-threatening conditions.
                                        Kitika does not guarantee immediate response by its accredited and
                                        Licensed Physicians or Doctors.</li>
                                </ol>
                            </li>
                            <br>
                            <li>

                                <strong>NATURE OF SERVICES</strong>
                                <ol type="a">
                                    <li>Kitika is only a provider of an online platform or facility through which
                                        registered users can connect with an accredited and Licensed Physician for
                                        Consultation or medical advice. Kitika is neither engaged in the practice
                                        of the medical profession nor a provider of healthcare services. For
                                        avoidance of doubt, Kitika is an interconnectivity platform.</li>

                                    <li>Kitika does not and will not recommend or endorse any specific tests,
                                        prescriptions, advice, and/or recommendations made by the accredited and
                                        Licensed Physician. Kitika has absolutely no involvement, participation,
                                        or connection in the User’s interaction and medical Consultation with the
                                        accredited and Licensed Physician. Any correspondence between the User
                                        and the accredited/licensed Physician is strictly between the user and the
                                        accredited/licensed Physician.</li>

                                    <li>Licensed Physicians using the Kitika platform are not employees of Kitika
                                        but are independent professionals or contractors. They are solely and
                                        directly responsible for any communication, advice, recommendation,
                                        assessment, prescription, or other medical services rendered to the User,
                                        including its appropriateness and quality thereof. The use and access of the
                                        Kitika Platform and Services do not constitute a doctor-patient relationship
                                        between the User and Kitika. Kitika shall be held harmless from any claim,
                                        liability or action which may arise by reason of or in connection with the
                                        User’s consultation with the Licensed Physician.</li>
                                    <li>The choice to use the Kitika Platform and its Services is voluntary on the
                                        end of the User and of their own choice and free will. Kitika does not
                                        represent or guarantee that the medical consultation made through the
                                        Kitika Platform is the appropriate method or course of treatment for the
                                        User’s concern.</li>
                                </ol>
                            </li>
                            <br>
                            <li>
                                <strong>KITIKA PLATFORM CONTENT</strong>
                                <p>Any content, including images, videos, audios, materials, information, and
                                    other features, or data appearing in or coursed through the Kitika Platform,
                                    whether owned by Kitika or third parties should not be considered medical
                                    advice, endorsement, representation, warranty, or that any particular
                                    medication or treatment is safe, appropriate or effective for the User.</p>
                            </li>
                            <li>
                                <strong>PERMITTED LICENSE USE AND RESTRICTIONS</strong>
                                <ol type="a">
                                    <li>Subject to the User’s compliance with the terms and conditions of this

                                        Agreement, Kitika grants the User a limited, non-exclusive, non-
                                        sublicensable, non-transferrable, and revocable license to: 1) install,

                                        access, browse, and/or use the Kitika Platform in the User’s computers,
                                        mobile phones, and other personal devices for the sole purpose of using
                                        the Services of Kitika; and 2) access, browse and/or use any Content that
                                        may be made available through the Kitika Platform for personal use. Any
                                        rights not expressly granted are not implied in this Agreement and are
                                        reserved by Kitika.</li>
                                    <li>The Kitika Platform including any associated Software is purely and solely intended for personal and non-commercial use. This platform may not be used for commerce, profit by any person or entity, including the User.</li>
                                    <li>Use of this Platform shall be subject to the pertinent laws, rules and
                                        regulations, and medical laws and practices of the Republic of the
                                        Philippines. User understands and agrees that the advice,
                                        recommendations, and/or suggestions given by the accredited and
                                        Licensed doctors are subject to the laws of the Republic of the Philippines.
                                        User understands and subjects himself to the medical laws, statutes,
                                        regulations, and practices of the Republic of the Philippines. Should any
                                        foreign law be contrary to the medical laws, statutes, regulations, and
                                        practices of the Republic of the Philippines, the laws of the Republic of the
                                        Philippines will govern. Likewise, User cannot hold the accredited and
                                        Licensed doctor, including the Kitika platform and its affiliates, liable for
                                        any views, suggestions, recommendations, or practices contrary to the
                                        medical laws, the laws of any foreign country, including the laws of the
                                        country where he/she is located.</li>
                                    <li>
                                        By using the Kitika Platform, User agrees, among others, NOT to personally cause or commission and/or urge a third party to:
                                        <ol type="i">
                                            <li>Copy, decompile, reverse engineer, disassemble, attempt to derive the source code of, decrypt, modify or disassemble the Kitika Platform or any component thereof, except as may be permitted by Kitika;</li>
                                            <li>Distribute, license, lease, sell, resell, transfer, transmit, stream, broadcast, or otherwise exploit the Kitika Platform, except as expressly permitted by Kitika;</li>
                                            <li>Remove any copyright, trademark or other proprietary notices from any portion of the Kitika Platform whether owned by Kitika, its Developer or of any third party affiliated with such;</li>
                                            <li>Cause or launch any programs or scripts for the purpose of scraping, indexing, surveying, or otherwise data mining any portion of the Kitika Platform or unduly burdening or hindering the operation and/or functionality of the Kitika Platform or any aspect thereof;</li>
                                            <li>Attempt to gain or gain any unauthorized access to or impair any aspect of the Kitika Platform or its related systems or networks;</li>
                                            <li>Send, store and transmit obscene, threatening, or otherwise unlawful, illegal, and immoral material.</li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <br>
                            <li>
                                <strong>ACCOUNT REGISTRATION AND USE OF THE KITIKA PLATFORM</strong>
                                <ol type="a">
                                    <li>User agrees to use the Kitika Platform only for lawful purposes and in compliance with this Agreement, the Privacy Policy, and all applicable domestic or international laws, generally accepted in the Philippines.</li>
                                    <li>The creation and maintenance of a Kitika Account (“Kitika Account”) is a pre-requisite to use the services of Kitika Platform. A valid and working credit card or DragonPay account is required for such registration. By registering for an account, User represents and warrants that he/she is at least eighteen (18) years of age, will be in the Philippines during the scheduled consultation, has the legal capacity and authority to enter into a contract, and that he/she is the true and lawful owner of the registered credit card or DragonPay account.</li>
                                    <li>User warrants that the personal information entered and submitted like name, age, address, contact number, email address, medical history or profile, and payment information given during the registration process is true, accurate, up-to-date, and complete. It is the User’s sole responsibility to update and notify Kitika of any errors, mistakes or changes to their Personal Information, Medical history and Payment method. User’s Personal information, Medical history and Payment method shall be collectively referred to as “Credentials”.</li>
                                    <li>User is not allowed to use a false name or a pseudonym for the sign-up process or impersonate another person or misrepresent authority to act on behalf of others while using the Kitika Platform or its Services. User will be asked to provide proof of identity or other method of identity verification in order to complete his/her registration to the Kitika Platform and its Services. User agrees and understands that continued access to and use of the Kitika Platform and its Services may be denied upon refusal or failure to provide proof of identity or other method of verification.</li>
                                    <li>User understands that a proper disclosure of his/her true and accurate symptoms and conditions to the licensed and accredited physician is necessary for a proper diagnosis. All advice, diagnosis, opinions, or recommendations given by the Licensed Physician shall be based on the statements relayed by the User. User understands and acknowledges that any misrepresentations regarding their medical condition may result to an improper diagnosis which could lead to serious harm. Any information or communication which resulted from the use of the Kitika Platform shall strictly be subject to doctor-patient confidentiality agreement.</li>
                                    <li>User’s Personal Information, Medical history and Payment method shall be treated in accordance with our Privacy Policy as incorporated in this Agreement by reference.</li>
                                    <li>Kitika accounts will have a number of User profiles depending on the family package they are subscribed to. All accounts cannot be assigned or otherwise transferred to another person or entity. Likewise, any User cannot allow a third party or entity to use their Kitika Account.</li>
                                    <li>User shall be responsible for maintaining the security and confidentiality of their Kitika Account. In the event that their account has been compromised or they suspect that it has been compromised, User must immediately notify Kitika of such incident. User shall be liable for any and all activities in his or her Kitika Account. In case of compromised accounts, User must inform Kitika of such incident to prevent further unauthorized use.</li>
                                    <li>Kitika reserves the right to deny or suspend the User’s account to the Kitika Platform and Services for violation of any of the terms or conditions of this Agreement.</li>
                                </ol>
                            </li>
                            <br>
                            <li>
                                <strong>PAYMENT</strong>
                                <p>Sigining Up and creating a Kitika Account is free. However, the User must subscribe to one of the available packages to avail of the services that the Kitika platform provides. A valid and existing credit card or other payment methods indicated upon subscribing is required to use the platform. Fees will be charged by Kitika upon availment of its Services. User agrees to provide Kitika or its agents continuous authority to directly and automatically charge their enrolled payment facilities of the corresponding charges as may be appropriate.</p>
                                <p>The Kitika platform includes features fulfilled by Third-Party Service Providers such as Ambulance Service and Medicine Delivery that entail additional costs based on the Third-Party Service Providers’ existing rates. The User will be notified of such costs before being able to proceed with these
                                    features. All Fees are inclusive of the applicable taxes as required by law.</p>
                                <p>User’s Account may temporarily be suspended for failure to make a full and proper payment until such time that the charges have been settled. Kitika also reserves the right to charge the appropriate fees on the said amount.</p>
                                <p>Any overpayments or erroneous amount charged against the User’s account will be refunded once said overpayment or erroneous charge has been discovered. User is encouraged to inform Kitika through its Support Team using the Kitika platform, e-mail and/or hotline.</p>
                            </li>
                            <li>
                                <strong>INTELLECTUAL PROPERTY RIGHTS</strong>
                                <p>All content appearing on the Kitika Platform, including, but not limited to, the design, layout, registered trademarks and service marks, images and videos, are owned by Kitika and its affiliates and are covered and protected by all applicable intellectual property laws. All rights and title to the content belong to Kitika and its affiliates.</p>
                                <p>User is prohibited to alter, obscure, infringe, or remove any copyright or
                                    trademark appearing in the Kitika Platform. Likewise, User may not
                                    reproduce, duplicate, copy, sell, trade, or exploit for commercial gain any
                                    component of the Kitika Platform.</p>
                            </li>
                            <li>
                                <strong>LIMITATIONS ON USE AND DISCLAIMER OF WARRANTIES</strong>
                                <p>User agrees to download, install, access, and/or use the Kitika Platform at
                                    his/her own option. Kitika Platform is provided on an “AS IS, WHERE IS”
                                    basis. Kitika expressly disclaims all representations and warranties, whether
                                    express, implied, or statutory, including but not limited to any warranties of
                                    merchantability, fitness for a particular use or purpose and non-infringement.
                                    User accepts and acknowledges that the Kitika Platform does not warrant:</p>
                                <ol type="a">
                                    <li>Timely, uninterrupted, secure, and error-free access and use of the Kitika Platform and Services;</li>
                                    <li>Reliable, suitable, effective, accurate, and/or complete services, information, and/or content gathered using the Kitika Platform;</li>
                                    <li>Error-free and/or defect-free, including loss of data resulting from delay, service in the Kitika;</li>
                                    <li>Virus-free or non-harmful components in the Kitika Platform and that any item or content obtained therefrom will be according to the requirements and expectations of the User.</li>
                                </ol>
                            </li>
                            <br>
                            <li>
                                <strong>LIMITATION OF LIABILITY</strong>
                                <ol type="a">
                                    <li>Kitika’s liability is strictly limited to ensuring that all physicians,
                                        healthcare providers and medical professionals are duly licensed and have
                                        complied with all of the requirements needed for the practice of their
                                        profession according to Philippine Law.</li>
                                    <li>Kitika, its affiliates, directors, officers, stockholders, agents,
                                        representatives, employees, personnel or staff shall, under no
                                        circumstance, be liable, whether direct, indirect, incidental, moral, or
                                        consequential, for any damages, including but not limited to, lost profit,
                                        lost data, and/or lost property arising out of or in connection with the use
                                        of the Kitika Platform, its Services, or any Content obtained from the
                                        Kitika Platform whether owned by Kitika or any third party.</li>
                                </ol>
                            </li>
                            <br>
                            <li>
                                <strong>TERMINATION</strong>
                                <p>Kitika reserves the right to suspend and/or terminate User’s access and use of the Kitika Platform and its Services upon breach of any terms and conditions of this Agreement or for any ground or reason it deems proper and reasonable.</p>
                            </li>

                            <li>
                                <strong>INDEMNITY</strong>
                                <p>User agrees to indemnify and hold Kitika, including its affiliates, directors, officers, stockholders, agents, representatives, employees, personnel or staff, from any and all claims, demands, losses, liabilities, expenses, and attorney’s fees arising out of or in connection for/with:</p>
                                <ol type="a">
                                    <li>The improper use of the Kitika Platform and its Services;</li>
                                    <li>The breach or violation of any of the terms and conditions of this Agreement; and</li>
                                    <li>The violation of any rights of any third party.</li>
                                </ol>
                            </li>
                            <br>
                            <li>
                                <strong>OTHER PROVISIONS</strong>
                                <ol type="a">
                                    <li>Notices, communications, and/or correspondence to the User shall be displayed on his/her account or sent through his/her registered e-mail address. Notices, communications, and/or correspondence to Kitika shall be sent and addressed to its principal office at 107 ICITE Bldg, Orchard Rd. Brgy. Bagumbayan Eastwood, Libis, Quezon City, 1110.</li>
                                    <li>User cannot assign and/or transfer this Agreement to any other person. Kitika may freely assign or transfer this Agreement or any part thereof and any of its rights or duties hereunder without need of consent.</li>
                                    <li>Failure of Kitika to enforce any right and/or provision in this Agreement shall not constitute a waiver of such right or provision unless acknowledged and agreed to in writing by Kitika.</li>
                                    <li>Any term and/or condition of this Agreement that may be declared illegal or unenforceable, shall not affect the validity of the other provisions in this Agreement.</li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                    
                </div>
            </div>
        </div>
        <web-footer></web-footer>
    </section>
</template>
