<template>
    <section id="app">
        <Nav/>
        <router-view></router-view>
        <Footer></Footer>
    </section>
</template>

<script>

import Nav from "./components/directives/nav";
import Footer from "./components/directives/footer";


export default {
  name: 'app',
  components: {
        Nav, Footer
    }

}
</script>

