@font-face {
    font-family: 'Renogare';
    src: url('/fonts/Renogare-Regular.woff2') format('woff2'),
        url('/fonts/Renogare-Regular.woff') format('woff'),
        url('/fonts/Renogare-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LatoReg;
    src: url('/fonts/Lato-Regular.ttf');
}


@font-face {
    font-family: MontserratBold;
    src: url('/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: LatoHeavy;
    src: url('/fonts/Lato-Heavy.ttf');
}

@font-face {
    font-family: LatoBlack;
    src: url('/fonts/Lato-Black.ttf');
}

@font-face {
    font-family: LatoBold;
    src: url('/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: HelveticaBold;
    src: url('/fonts/HelveticaNeuBold.ttf');
}

@font-face {
    font-family: HelveticaReg;
    src: url('/fonts/HelveticaNeue.ttf');
}

@font-face {
    font-family: HelveticaLight;
    src: url('/fonts/HelveticaNeueLight.ttf');
}

p {
    -webkit-font-smoothing: antialiased;
}

.text-underline-a {
    &:hover {
        text-decoration: underline !important;

    }
}
.notif-scroller{
  max-height: calc(100vh - 325px);
  overflow: auto;
}
.fc-blue {
    color: #0B5388;
}

.fc-white {
    color: #fff !important;
}

.patient-chatime {
    text-align: left;
    padding-left: 100px;
    font-size: 10px;
}
.cursor-pointer{
  cursor: pointer;
}
.seen{
    margin-right: 55px;
    margin-bottom: 0;
    font-size: 12px;
}

.sent {
    margin-right: 55px;
    margin-bottom: 0;
    font-size: 12px;
}

.delivered {
    margin-bottom: 0;
    margin-right: 55px;
    font-size: 12px;
}

.nurse-chatime {
    text-align: right;
    padding-right: 100px;
    font-size: 10px;
}

.number-no-style {
    list-style-type: none;

    &:hover,
    &:focus {
        color: #fff;
    }
}

input[type='number'] {

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* webkit solution */
::-webkit-input-placeholder {
    text-align: left;
}

/* mozilla solution */
input:-moz-placeholder {
    text-align: left;
}

input {
    text-align: left !important;
    padding: 0 15px !important;
}

body {
    background: #F5F5F5 !important;
}

.dp-container {
    position: relative;
    border-radius: 75%;
    overflow: hidden;
    width: 115px;
    height: 115px;
}

#data-gathering {
    #data-gathering-title {
        font-size: 26px;
        color: $blue;

        span {
            font-weight: 800 !important;
        }

    }

    .modal-content {
        border: 2px solid #0B5388 !important;
        border-radius: 10px;
    }

    .info {
        .heading {
            background: $ll-blue;
            padding: 10px 15px;

            p {
                margin: 0;
                font-weight: 600;
                color: #fff;
            }

            margin-bottom: 8px;
        }
    }

    .body {

        input,
        select,
        textarea {
            border: 1px solid #0B5388 !important;
            border-radius: 0 !important;
        }

        select {
            -moz-appearance: none !important;
            -webkit-appearance: none !important;
            appearance: none !important;
            width: 100%;
        }

        textarea {
            resize: none;
            width: 100%;
            height: 109px;
        }

        .caret {
            position: absolute;
            right: 10px;
            top: 15px;
            z-index: 999;
        }

        .selectize-input {
            border: 1px solid #0B5388 !important;
            border-radius: 0 !important;
        }

        .data-gather {
            .item {
                background: #0B5388 !important;
                border-radius: 25px !important;
                color: #fff !important;
                margin-right: 7px !important;
            }

            input {
                border: none !important;
            }
        }
    }

}

.material-icons {
    display: none;
}

.b2b-logo {
    width: 40%;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;

    & > [class^="col-"],
    & > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.reg {
    color: #212121;
    font-size: 14px;
    font-family: HelveticaReg;
}

.hr-blue {
    background: $blue;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none !important;
    color: #000;
}

.opacity-1 {
    opacity: 0.5;
}


.button {
    padding: 10px 30px;
    font-family: MontserratBold;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;

    &.green {
        background: $green;
        color: #fff;
    }

    &.green-w {
        background: #fff;
        color: $green;
        border: 2px solid $green;
        padding: 8px 30px;
    }

    &.blue {
        background-image: linear-gradient(#0AAAEB, #0B5388);
        color: #FFF !important;
        padding: 10px 30px !important;
        border: 0;
        width: 100%;
    }

    &.d-blue {
        background-image: linear-gradient(#0A8BD3, #0B4FA2, #0B3188);
        color: #FFF;
    }

    &.ll-blue {
        background: $ll-blue;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    &.white {
        background: #fff;
        color: $blue;
        border: 2px solid $blue;
        padding: 8px 30px;
    }

    &.modal-submit {
        background-image: linear-gradient(#0AAAEB, #0B5388);
        color: #FFF;
        padding: 13px 40px;
    }

    &.modal-cancel {
        background: #fff;
        color: #0B5388;
        border: 3px solid #0B5388;
    }

    &.btn {
        border-radius: 50px;
        min-width: 120px;

        &.d-blue {
            border: none;
        }

        &.white {
            background: #fff;
            color: $blue;
            border: 2px solid $blue;
            padding: 5px 30px;
        }
    }
}

.label {
    font-family: MontserratBold;
    font-size: 12px;
    color: $l-blue;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    white-space: nowrap;
}

.page-title {
    background: $blue;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin-top: 80px;

    p {
        font-family: HelveticaBold;
        margin-bottom: 0;
    }
}

#hide-user-info {
    z-index: 9;
    display: none;

    .hide-btn {
        background: $blue;
        width: 35px;
        height: 20px;
        color: #fff;
        border-radius: 5px;
        text-align: center;
        position: absolute;
        top: 150px;
        right: 30px;
        z-index: 9;
    }
}


.xs-notif {
    position: absolute !important;
    top: 20px !important;
    right: 60px;

    .notif-alert {
        position: absolute;
        right: 8px;
        top: 0px;
        background: #FF0000;
        z-index: 1;
        text-align: center;
        font-size: 10px;
        height: 17px;
        width: 17px;
        border-radius: 50%;
        color: #fff;
    }
}

#public-nav {
    .navbar {
        background: white;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #212121 !important;

        .logo {
            height: 100%;
            margin: 0;
        }

        .hi-name {
            display: inline;
        }
    }

    .navbar-nav {
        .nav-item {
            padding-left: 20px;
            padding-right: 20px;

            .nav-link {
                font-family: LatoBold !important;
                color: $l-blue !important;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 5px;
            }

            &.active {
                .nav-link {
                    font-family: LatoBlack !important;
                    color: $blue !important;
                    letter-spacing: 5px;
                }
            }

            &.notif {
                .notif-alert {
                    background: #FF0000;
                    position: absolute;
                    right: 0px;
                    top: 11px;
                    z-index: 1;
                    text-align: center;
                    font-size: 10px;
                    padding: 0px 5px;
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                    color: #fff;
                }

                .notif-icon {
                    height: 23px;
                    position: absolute;
                    bottom: 10px;
                }
            }

            &.profile {
                .nav-link {
                    color: #000 !important;
                    letter-spacing: 0;
                    text-transform: none;
                }

                .profile-pic {
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                }
            }
        }
    }

    .pubnav-mobile {
        background: #fff;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 9999;

        .button {
            width: 180px;
            text-align: center;
            margin: auto;
        }

        .navbar-light .navbar-toggler-icon {
            background-image: url("/images/icons/hamburger.svg") !important;
        }

        .header {
            height: 270px !important;
        }

        .navbar-nav {
            text-align: center;
            padding: 25px 0;

            li {
                padding: 15px 10px;

                a {
                    font-family: LatoBlack;
                    font-size: 16px;
                    color: #000;
                    text-transform: uppercase;
                }
            }
        }

        .blue-menu {
            color: $blue;
        }

        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .brand {
            text-align: center;
            display: block;
        }

        .nav-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .terms {
            text-align: center;
            margin-top: 10px;

            a {
                color: #000;
            }
        }

        .profile-pic {
            height: 100px;
            width: 100px;
        }

        .name {
            font-family: HelveticaBold;
            font-size: 18px;
            text-align: center;
        }
    }
}

#dash-nav {
    .navbar {
        background: white;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #212121 !important;

        .logo {
            height: 100%;
            margin: 0;
        }

        .hi-name {
            display: inline;
        }
    }

    .navbar-nav {
        .nav-item {
            padding-left: 20px;
            padding-right: 20px;

            .nav-link {
                font-family: LatoBold !important;
                color: $l-blue !important;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 5px;
            }

            &.active {
                .nav-link {
                    font-family: LatoBlack !important;
                    color: $blue !important;
                    letter-spacing: 5px;
                }
            }

            &.notif {
                .notif-alert {
                    background: #FF0000;
                    position: absolute;
                    right: 0px;
                    top: 11px;
                    z-index: 1;
                    text-align: center;
                    font-size: 10px;
                    padding: 0px 5px;
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                    color: #fff;
                }

                .notif-icon {
                    height: 23px;
                    position: absolute;
                    bottom: 10px;
                }
            }

            &.profile {
                .nav-link {
                    color: #000 !important;
                    letter-spacing: 0;
                    text-transform: none;
                }

                .profile-pic {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }
}

.sidenav {
    height: calc(100% - 80px);
    width: 250px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: $blue;
    overflow-x: hidden;
    transition: 0.5s;

    .main {
        padding: 25px 0;

        .label {
            font-family: MontserratBold;
            font-size: 12px;
            margin-bottom: 20px !important;
            color: #fff;
            padding: 0 30px;
        }

        a {
            color: #fff;
            padding: 7px 30px;
            text-decoration: none;
            font-family: HelveticaBold;
            font-size: 16px;
            display: block;
            transition: 0.3s;

            &.active {
                background: $ll-blue;

                &:hover {
                    padding: 7px 30px;
                }
            }

            &:hover {
                padding: 7px 35px;
            }
        }
    }
}


.content-dashboard {
    margin-left: 250px;
    margin-top: 80px;
}

.content {
    margin-top: 81px;
}


.user-info {
    background: #fff;
    border-bottom: 1px solid $ll-blue;
    padding: 15px;

    .profile-pic {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 115px;
        display: block;
        margin: 0 auto;
        object-fit: cover;

    }

    .name {
        font-family: HelveticaBold;
        font-size: 20px;
        color: $blue;
        text-align: left;
    }

    .regtext {
        text-align: left;
        word-break: break-all;
    }

    .indicator {
        position: absolute;
        top: 8px;
        height: 5px;
        width: 5px;
        background: $l-blue;
        border-radius: 50%;

        &.active {
            background: $ll-blue;
        }
    }

    .indicator-1 {
        position: absolute;
        top: 8px;
        left: 0;
        height: 5px;
        width: 5px;
        background: $l-blue;
        border-radius: 50%;

        &.active {
            background: $ll-blue;
        }
    }

    .indicator-2 {
        position: absolute;
        top: 8px;
        right: 0;
        height: 5px;
        width: 5px;
        background: $l-blue;
        border-radius: 50%;

        &.active {
            background: $ll-blue;
        }
    }
}

.card-header-2 {
    background: $blue !important;
}

#dashboard {
    padding: 30px 35px;
    background: #f5f5f5;

    .box-w {
        padding: 15px 25px;
        background: #fff;
        border: 1px solid $blue;

        &.records {
            position: relative;
            height: 100%;
            max-height: 333px;

            .tab-content {
                height: calc(100% - 70px);
                overflow-x: hidden;
            }
        }

        .button {
            width: 130px;

            &.float-right {
                float: right;
            }
        }

        .ltxt-bold {
            font-size: 20;
            font-family: HelveticaBold;
            text-align: left;
        }

        .nav-pills {
            .nav-item {
                width: 50%;
                text-align: center;

                .nav-link {
                    color: $ll-blue;
                    background-color: #fff;
                    font-size: 16px;
                    font-family: HelveticaReg;
                    font-weight: 400;
                    letter-spacing: 2px;
                    border: none;
                    border-radius: 0;
                    border-bottom: 6px solid $ll-blue;

                    &.active,
                    .nav-pills .show > .nav-link {
                        color: $blue;
                        font-family: HelveticaBold;
                        letter-spacing: 0;
                        font-weight: 100;
                        border-bottom: 6px solid $blue;
                    }
                }
            }
        }
    }

    .callback {
        .title {
            font-size: 20px;
            font-family: HelveticaBold;
            color: #000;
        }

        input,
        textarea {
            border: 1px solid $blue;
        }
    }

    .box-g {
        padding: 15px 15px;
        background: #F5F5F5;
        border: 1px solid #ADABAB;
        font-size: 12px;

        .label {
            font-size: 10px;
        }

        .align-bottom {
            position: absolute;
            bottom: 0;
        }

        .regtext {
            word-break: break-all;
            color: #000;
            white-space: normal;
        }

        p {
            font-size: 11px;

        }

        .card-header {
            background: none;
        }

        .media {
            .media-body {
                margin-right: 3px;
                color: #000;
            }

            p {
                font-size: .7rem;
            }
        }

        table {

            td,
            th {
                padding: 5px;
                white-space: normal;
                word-break: break-word;
            }
        }
    }

    .btn-full {
        background: $blue;
        color: #fff;
        border-radius: 0;
        border: 1px solid #ADABAB;
        border-top: none;
        font-family: MontserratBold;
        font-size: 12px;
    }

    //scrollbar
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0 white;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $blue;
        border-radius: 10px;
        border: 2px solid white;
        position: absolute;
        right: 0;
    }
}


#inbox {
    &.container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: auto;
        margin-left: auto;
    }

    .profile-pic {
        height: 40px;
        width: 40px;
    }

    .history {
        height: calc(100vh - 300px);

        .head {
            padding: 10px 35px;

            .label {
                font-size: MontserratBold;
                font-size: 12px;
                margin-bottom: 0;
                color: $blue;
            }

            input {
                border-radius: 18px;
                border: 1px solid #0B5388;
                outline: 0;
                width: 98%;
                height: 30px;
                background: #fff;
            }

            .search-btn {
                position: absolute;
                top: 3px;
                right: 30px;
            }
        }

        .body {
            overflow-y: scroll;
            overflow-x: hidden;
            height: -webkit-fill-available;
            padding: 0 35px;

            .box-w {
                padding: 15px 15px;
                background: #fff;
                opacity: 0.7;
                border-radius: 6px;
                margin: 10px 0;

                &.active {
                    opacity: 1;
                    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
                    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
                    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);

                    .time {
                        color: $blue;
                    }
                }

                .nurse-name {
                    font-size: 14px;
                    font-family: HelveticaBold;
                    line-height: 1;
                }

                .regtext {
                    font-size: 12px;
                }

                .time {
                    font-family: HelveticaBold;
                    font-size: 10px;
                    color: #9D9D9D;
                    text-align: left;
                }

                .menu-btn {
                    position: absolute;
                    top: -4px;
                    right: 10px;
                }

                .ellipsis {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    width: 100%;
                    height: 33px;
                }
            }
        }
    }

    .chat-box {
        height: calc(100vh - 363px);


        .head {
            background: #fff;
            padding: 0 15px;
            height: 58px;

            .nurse-name {
                font-family: HelveticaBold;
                font-size: 16px;
                color: $blue;
            }

            .side-btn {
                margin-right: 20px;

                a {
                    display: inline;
                    padding: 0 10px;
                }
            }
        }

        .body {
            background: #C1EAFB;
//            padding-right: 25px;

            .chat-cont {
                background: #C1EAFB;
                overflow-y: scroll;
                padding: 20px 25px;
                height: calc(100vh - 375px);
            }

            .date {
                font-size: 12px;
                font-family: HelveticaBold;
            }

            .symptoms {
                background: $blue;
                color: #fff;
                border-radius: 6px;
                padding: 7px 15px;
                font-size: 12px;
                margin-bottom: 10px;

                .label {
                    color: #fff;
                    text-transform: none;
                }
            }

            .nurse-msg {
                margin: 0 0 0px 0;
                padding-right: 100px;

                .message {
                    background: #fff;
                    border-radius: 6px;
                    margin-left: 15px;
                    padding: 15px;
                    width: auto;
                    font-size: 12px;
                    word-break: break-all;

                    p {
                        margin-bottom: 0;
                    }
                }
            }

            .my-msg {
                margin: 0 0 0px 0;
                padding-left: 100px;

                .message {
                    background: #538FB5;
                    border-radius: 6px;
                    margin-right: 15px;
                    float: right;
                    padding: 15px;
                    width: auto;
                    font-size: 12px;
                    word-break: break-all;

                    p {
                        color: #fff;
                        margin-bottom: 0;
                    }
                }
            }
        }

        .message-box {
            background: #fff;
            padding: 10px 15px;
            height: -webkit-fill-available;
            height: 75px;

            form {
                width: 100%;
            }

            input {
                border-radius: 18px;
                border: 1px solid #0B5388;
                outline: 0;
                width: 98%;
            }

            .button {
                padding: 10px 0;
                outline: 0;
                border: none;
                width: 100%;
                cursor: pointer;
                padding: 10px 18px !important;
            }
        }
    }

    //scrollbar
    /* width */
    ::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #659EC1;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $blue;
        border-radius: 10px;
        position: absolute;
        right: 0;
        height: 50%;
    }

    ::-webkit-scrollbar-button {
        height: 10px;
    }

    .box-g {
        padding: 15px 15px;
        background: #F5F5F5;
        border: 1px solid #ADABAB;
        font-size: 12px;

        .label {
            font-size: 10px;
        }

        .align-bottom {
            position: absolute;
            bottom: 0;
        }

        .regtext {
            word-break: break-all;
            color: #000;
            white-space: normal;
        }

        p {
            font-size: 11px;

        }

        .card-header {
            background: none;
        }

        .media {
            .media-body {
                margin-right: 3px;
                color: #000;
            }

            p {
                font-size: .7rem;
            }
        }

        table {

            td,
            th {
                padding: 5px;
                white-space: normal;
                word-break: break-word;
            }
        }
    }

    .btn-full {
        background: $blue;
        color: #fff;
        border-radius: 0;
        border: 1px solid #ADABAB;
        border-top: none;
        font-family: MontserratBold;
        font-size: 12px;
    }
}

.call-modal {
    padding-top: 2rem !important;

    h1 {
        color: $blue;
    }

}

.c-1,
.c-2 {
    margin-top: 3px;
}

.step-btn {
    cursor: pointer;
}

.stepy-block {
    position: absolute;
    top: 9%;
    right: -15px;
    height: 80%;
    border-right: 2px solid;
    cursor: pointer;

    .block-1 {
        height: 25px;
        width: 25px;
        background: #0b5388;
        border-radius: 30px;
        position: absolute;
        left: -12px;
        top: 0;
    }

    .block-2 {
        height: 25px;
        width: 25px;
        background: #0b5388;
        border-radius: 30px;
        position: absolute;
        left: -12px;
        top: 50%;
    }

    .block-3 {
        height: 25px;
        width: 25px;
        background: #0b5388;
        border-radius: 30px;
        position: absolute;
        left: -12px;
        top: 100%;
    }

    .first {
        background: #0AADEF !important;
    }

}

.user-name {
    p {
        color: #085784;
        font-size: 10px;
        margin-bottom: 0 !important;
    }

    .me {
        text-align: right;
        //        padding-left: 55px;
        padding-right: 60px;
    }

    .others {
        padding-left: 55px;
    }
}

.md-breaker {
    display: none;
}

#home {
    background: #fff;

    #home-slider {
        .carousel-item {
            background-image: url(/images/slider/new-bg.jpg);
            height: 80vh;
            background-size: cover;
            background-position: center -56px;
            background-repeat: no-repeat;

            img {
                width: 100%;
            }
        }

        .carousel-indicators {
            display: none;

        }

        .carousel-indicators > li {
            border-radius: 50%;
            width: 7px;
            height: 7px;
            background: transparent;
            border: 2px solid #fff;
            margin: 0 7px;
            margin-bottom: 20px;

            &.active {
                background: #fff;
            }
        }

        .carousel-caption {
            //            background-image: linear-gradient(to right, #0B5388, transparent);
            color: #fff;
            text-align: left;
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;

            .body {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .logo {
                height: 100px;
                width: auto;
                display: block;
            }

            h2 {
                font-size: 44px;
                font-family: LatoHeavy;
                color: $blue;
                margin-left: 0;
                margin-top: 20px;
            }

            p {
                width: 40%;
                font-size: 16px;
                color: #000;
            }
        }
    }

    .options {
        h5 {
            font-family: LatoBlack;
            font-size: 20px;
            text-transform: uppercase;
        }

        p {
            font-family: LatoReg;
            font-size: 14px;
        }

        .columns {
            padding: 30px;
            color: #fff;
            background-size: cover;
            background-repeat: no-repeat;

            .number {
                font-size: 34px;
                font-family: LatoBlack;
            }

            .border-right {
                padding-right: 10px;
                border-right: 3px solid rgba(255, 255, 255, 0.3) !important;
            }

            .mg-top {
                margin-top: 3px;
            }

            .media {
                display: flex;

                img {
                    margin-right: 15px;
                    margin-bottom: 10px;
                }
            }
        }

        .mobile-number {
            height: 40px;
            width: 100%;
            margin-top: 10px;
            border: 1px solid $blue;
        }

        .button {
            font-family: LatoBold;
            width: 130px;


            &.send-number {
                width: 100px;
                margin-top: 20px !important;
            }
        }
    }

    .how-kitika-works {
        padding: 100px 0 100px 0;

        #hkw-slider {
            .carousel-indicators > li {
                border-radius: 50%;
                width: 7px;
                height: 7px;
                background: transparent;
                border: 2px solid $blue;
                margin: 0 7px;
                margin-bottom: 20px;

                &.active {
                    background: $blue;
                }
            }

            .carousel-inner {
                padding: 0 25px;
                height: 300px;
            }
        }

        .label {
            font-size: 24px;
            font-family: LatoBlack;
            color: $blue;
            padding-top: 25px;
            padding-bottom: 10px;
        }

        p {
            font-family: LatoReg;
            font-size: 16px;
        }

        .title {
            font-size: 40px;
            font-family: LatoReg;
            line-height: 1.2;

            span {
                font-family: Renogare;
                color: $blue;
            }
        }

        hr {
            width: 80px;
            height: 5px;
            background: #0B5388;
            margin-bottom: 50px;
            border-radius: 10px;

            &.desktop {
                float: left;
                margin: 0;
                margin-bottom: 0;
            }
        }
    }

    .why-choose-us {
        background: #CEEFFC;
        padding: 60px 0;

        #wcu-slider {
            .carousel-indicators > li {
                border-radius: 50%;
                width: 7px;
                height: 7px;
                background: transparent;
                border: 2px solid $blue;
                margin: 0 7px;
                margin-bottom: 20px;

                &.active {
                    background: $blue;
                }
            }

            .carousel-inner {
                padding: 0 25px;
                height: 400px;
            }
        }

        .title {
            text-align: center;
            font-family: LatoReg;
            font-size: 40px;

            span {
                font-family: LatoBlack;
                color: $ll-blue;
            }
        }

        hr {
            width: 80px;
            height: 5px;
            background: #0B5388;
            border-radius: 10px;
        }

        .sub {
            padding: 0 150px;
            text-align: center;
            font-size: 18px;
            font-family: LatoReg;
            margin: 25px 0 !important;
        }

        .bx-sh {
            box-shadow: 5px 13px 46px -16px #000;
            border-radius: 15px;
        }

        .columns {
            background: $blue;
            text-align: center;
            color: #fff;
            padding: 30px;

            &.borderrad {
                border-radius: 15px;
                box-shadow: 5px 13px 46px -16px #000;
                min-height: 300px;
            }

            &.light {
                background: #fff;

                .label {
                    color: $blue;
                }

                p {
                    color: #000;
                }
            }

            &.br-l {
                border-radius: 15px 0 0 15px;
            }

            &.br-r {
                border-radius: 0 15px 15px 0;
            }

            p {
                font-size: 14px;
                font-family: LatoReg;
            }

            .label {
                color: #fff;
                font-size: 20px;
                font-family: LatoBlack;
                margin-top: 20px;
                margin-bottom: 15px !important;
                white-space: normal;
            }
        }
    }

    .pricing {
        background: #F5F5F5;
        padding: 80px 0;

        .title {
            font-size: 40px;
            font-family: LatoReg;

            span {
                font-family: LatoBold;
            }
        }

        .sub {
            text-align: left;
            font-size: 18px;
            font-family: LatoReg;
            margin: 25px 0 !important;
            width: 80%;
        }

        hr {
            width: 120px;
            height: 5px;
            background: #0B5388;
            margin: 25px 0 30px 0;
            border-radius: 10px;
        }

        .plan {
            width: 100%;
            max-width: 280px;
            text-align: center;
            border-radius: 15px;
            background: #fff;
            padding-bottom: 35px;
            overflow-wrap: break-word;
            box-shadow: 2px 3px 30px -10px #000;

            &.second {
                margin-top: 28px;

                .prices {
                    margin-top: 10px;
                }
            }

            .plan-head {
                background-image: url('/images/home/col-head-big.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: bottom;
                padding: 25px 15px 48px 15px;
                border-radius: 15px 15px 0 0;

                .label {
                    color: #fff;
                    font-size: 18px;
                    font-family: LatoBlack;
                    margin-bottom: 10px !important;
                }

                .prices {
                    color: #fff;
                    font-family: LatoBlack;
                    text-transform: uppercase;
                    line-height: 1;
                    text-shadow: 1px 2px 5px #333;

                    span {
                        font-size: 68px;

                        &.php {
                            font-size: 24px;
                            position: relative;
                            bottom: 14px;
                            right: 5px;
                        }
                    }
                }
            }

            .desc {
                font-size: 20px;
                font-family: LatoBlack;
                color: $blue;
                text-transform: uppercase;
                line-height: 1;
                padding: 25px 0;
                margin-bottom: 0;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.fc-lblue {
    color: $ll-blue !important;
    font-weight: 300;
}

.newsletter {
    background-image: url('/images/news.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 33%;
    color: #fff;
    font-size: 18px;
    font-family: LatoReg;
    text-align: left;

    h5 {
        font-family: Renogare;
        font-size: 40px;

        span {
            font-family: LatoReg;
            color: #fff;
        }
    }

    .button {
        padding: 10px 40px;
    }

    input[type='email'] {
        border: 1px solid #0B5388;
        border-radius: 0 !important;
    }

    input[type='password'],
    input[type='email'],
    input[type='number'],
    input[type='text'] {
        border-radius: 0 !important;
        border: 1px solid #0B5388;
        background: #fff;
        -webkit-appearance: none;
        margin: 0;

        &::placeholder {
            font-size: 0.9rem;
        }

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .content-body {
        padding: 60px 55px 50px 55px !important;
        background: url('/images/content-mask.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;

        .custom-maxcontainer {
            max-width: 570px;
        }
    }

}

.header {
    width: 100%;
    height: 350px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &.small-header {
        height: 150px;
        background: #CEEFFC;
    }

    .overlay {
        background: rgba(11, 83, 136, 0.5);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        color: #fff;
        text-align: left;

        h5 {
            font-size: 40px;
            font-family: LatoReg;
            margin-bottom: 0;
        }

        h4 {
            font-size: 40px;
            font-family: Renogare;
        }

        p {
            font-size: 18px;
            font-family: LatoReg;
        }

        .body {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
    }

    .plain {

        //ProgressBar
        .progressbar {
            counter-reset: step;
            // /text-align: right;
            margin: 0;
            margin-top: 50px;
            text-align: center;
            padding: 0;
            z-index: 1;
            clear: both;

            li {
                color: $blue;
                font-size: .8rem;
                font-weight: bold;
                text-transform: uppercase;
                list-style: none;
                display: inline-block; //        width: 30.33%;
                position: relative;
                text-align: center;
                cursor: pointer;
                padding: 0;
                width: 23%;
                z-index: 1;

                a {
                    color: $l-blue;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    font-size: 14;
                    font-family: LatoBlack;
                }

                &:before {
                    content: '';
                    counter-increment: step;
                    width: 24px;
                    height: 24px;
                    line-height: 25px;
                    border: 3px solid $l-blue;
                    background: $l-blue;
                    border-radius: 100%;
                    display: block;
                    text-align: center;
                    margin: 0 auto 10px auto; //                background-color: #fff;
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: $l-blue;
                    top: 9px;
                    left: -47%;
                    z-index: -1;
                }

                &:first-child {
                    &:after {
                        content: none;
                    }
                }

                &.inactive {
                    &:before {
                        border-color: $l-blue;
                        background-size: contain;
                    }

                    & + li:after {
                        background-color: $l-blue;
                    }
                }

                &.active {
                    color: $blue;

                    &:before {
                        border-color: $blue;
                        background: #fff;
                    }

                    & + li:after {
                        background-color: $blue;
                    }
                }

                &.completed {
                    color: $blue;

                    &:before {
                        border-color: $blue;
                        background: $blue;
                    }

                    & + li:after {
                        background-color: $blue;
                    }
                }
            }
        }
    }
}

#about {
    .how {
        background: #fff;
        padding: 20px 0;

        #how-slider {
            .carousel-indicators {
                bottom: -30px;
            }

            .carousel-indicators > li {
                border-radius: 50%;
                width: 7px;
                height: 7px;
                background: transparent;
                border: 2px solid $blue;
                margin: 0 7px;
                margin-bottom: 20px;

                &.active {
                    background: $blue;
                }
            }

            .carousel-inner {
                //                padding: 0 25px;
                //                height: 300px;
            }
        }

        .sub {
            text-align: center;
            font-size: 30px;
            font-family: LatoReg;
        }

        hr {
            width: 80px;
            height: 5px;
            background: #0B5388;
            border-radius: 10px;
        }

        .label {
            font-family: LatoBlack;
            font-size: 56px;
            color: $blue;
            line-height: 1;
        }

        .title {
            font-family: LatoBlack;
            font-size: 24px;
            color: $ll-blue;
            margin-bottom: 0;

            &.blue {
                color: $blue;
            }
        }

        .img {
            min-width: 90px;
        }

        .step {
            padding: 0 35px;
        }

        .mobile-phone {
            margin: auto;
        }

        .head {
            padding: 40px;
        }

        .d-flex {
            padding: 30px 00px;
            position: relative;

            hr {
                display: none;
            }

            &.first {
                background: #CEEFFC;
                border-radius: 10px;

                hr {
                    width: 80%;
                    display: block;
                    height: 10px;
                    background: #4481AA;
                    border-radius: 20px 10px 10px 0;
                    position: absolute;
                    top: -16px;
                    left: 0;
                }
            }
        }
    }

    .service {
        background: #fff;

        h5 {
            font-family: Renogare;
            font-size: 40px;
            color: #fff;
            font-weight: 600;
            margin-left: 40px;

            span {
                font-family: LatoReg;
                color: #fff;
            }
        }

        h6 {
            font-family: Renogare;
            font-size: 18px;
            color: #fff;
            font-weight: 600;
            //            margin-left: 40px;

            span {
                font-family: LatoReg;
                color: #fff;
            }
        }

        p {
            font-family: LatoReg;
            font-size: 14px;
            color: #fff;
        }

        #service-slider {
            .carousel-indicators > li {
                border-radius: 50%;
                width: 7px;
                height: 7px;
                background: #fff;
                border: 2px solid #fff;
                margin: 0 7px;
                margin-bottom: 20px;

                &.active {
                    background: #fff;
                }
            }

            .carousel-inner {
                padding: 0px 70px;
                height: 300px;

                img {
                    margin-bottom: 15px;
                    width: 60px;
                }
            }
        }

        .body {
            position: relative;
            padding: 100px 0 100px 80px;
            margin-left: 0;
            background: #f5f5f5;

            .border-mobile {
                background-image: url('/images/about/blue-bg.svg');
                background-repeat: no-repeat;
                background-position: top left;
                background-size: cover;
                padding: 60px 30px 30px 30px;

                .text-right {
                    text-align: right !important;
                }
            }

            .laptop {
                position: absolute;
                bottom: 80px;
                left: 30px;
                z-index: 1;
                width: 530px;
            }
        }

        .media {
            color: #fff;
            padding: 0 15px;
            margin-bottom: 30px;

            h5 {
                font-family: LatoBlack;
                font-size: 20px;
                text-transform: uppercase;
                color: #fff;

                span {
                    font-family: LatoBlack;
                    font-size: 16px;
                    text-transform: none;
                }
            }



            img {
                margin-right: 15px;
            }
        }
    }
}

#subscribe {
    .subscribe {
        padding: 20px 0;
        background: #fff;

        .head {
            padding: 40px;
        }

        .sub {
            text-align: center;
            font-size: 30px;
            font-family: LatoReg;
        }

        hr {
            width: 80px;
            height: 5px;
            background: #0B5388;
            border-radius: 10px;
        }

        .packages {
            padding: 20px 100px 40px 100px;
        }

        .plan {
            height: 100%;
            text-align: center;
            border-radius: 15px;
            background: #fff;
            padding-bottom: 55px;
            box-shadow: 2px 3px 30px -10px #000;

            .plan-head {
                background-image: url('/images/home/col-head-big.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: bottom;
                padding: 25px 25px 25px 25px;
                border-radius: 15px 15px 0 0;

                .label {
                    color: #fff;
                    font-size: 18px;
                    white-space: normal;
                    font-family: LatoBlack;
                    margin-bottom: 10px !important;
                }

                .prices {
                    color: #fff;
                    font-family: LatoBlack;
                    text-transform: uppercase;
                    line-height: 1;
                    text-shadow: 1px 2px 5px #333;

                    span {
                        font-size: 68px;

                        &.php {
                            font-size: 24px;
                            position: relative;
                            bottom: 14px;
                            right: 5px;
                        }
                    }
                }
            }

            .button {
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, -50%);
            }

            .desc {
                font-size: 16px;
                font-family: LatoReg;
                padding: 25px 60px;
                margin-bottom: 0;
                text-align: left;
            }

            ul li::before {
                content: "\2022";
                color: #0B5388;
                font-weight: bold;
                display: inline-block;
                width: 23px;
                height: 0;
                margin-left: -20px;
                font-size: 21px;
            }
        }
    }
}

.breaker {
    word-break: break-word;
    white-space: normal;
}

#checkout {
    input {
        width: 100%;
        margin: 0;
        border: 1px solid $blue;
        background: #fff;

        &:focus {
            background: #E6F7FE;
        }
    }

    select {
        border: 1px solid $blue;

        &:focus {
            background: #E6F7FE;
        }
    }

    .checkout {
        padding: 20px 0 100px 0;
        background: #fff;

        .head {
            padding: 40px;
        }

        .sub {
            text-align: center;
            font-size: 30px;
            font-family: LatoReg;
            margin-bottom: 0;

            &.desc {
                font-size: 14px;
            }
        }

        hr {
            width: 80px;
            height: 5px;
            background: #0B5388;
            border-radius: 10px;
        }
    }

    .bg-white {
        background: #fff;
        width: 100%;
        border-radius: 10px;
        padding: 40px 80px;
        box-shadow: 0px 8px 45px -11px #000;
    }

    .title {
        font-family: LatoBlack;
        font-size: 24px;
        color: $blue;
        margin-bottom: 0;
    }

    .pay {
        border: 1px solid #212121;
        border-radius: 10px;
        padding: 30px 15px;
        margin-bottom: 15px !important;

        img {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translate(0, -80%);
        }

        &:hover {
            background: #CEEFFC;
            border: 1px solid $blue;
        }
    }

    .price {
        padding: 20px 0;
        position: relative;
    }

    .table-responsive {
        border-radius: 10px;
        border-left: 1px solid $blue !important;
        border-right: 1px solid $blue !important;
        border-bottom: 1px solid $blue !important;
    }

    .radio-cont {
        label {
            height: 18px;
            color: #000;
        }
    }

    form {
        label {
            font-size: 12px;
            font-family: LatoReg;
        }

        .table-striped > tbody > tr:nth-child(2n+1) > td,
        .table-striped > tbody > tr:nth-child(2n+1) > th {
            background-color: #E6F7FE;
        }

        table {
            font-size: 12px;
            font-family: LatoReg;
            border-radius: 10px;
            margin-bottom: 0;

            tbody {
                height: 300px;
            }

            td:first-child {
                font-family: LatoBold;
                padding-left: 50px;
                text-align: left;
            }

            th {
                border-bottom: 1px solid $blue;
                font-family: LatoBlack;
                text-align: center;
                color: #fff;
                background: $blue;
                border-top: 1px solid $blue !important;
            }

            td {
                border: none !important;
                text-align: center;

                &.medtotal {
                    border-top: 1px solid $blue !important;
                    font-family: LatoBold;

                    &.blue-t {
                        color: $blue;
                    }
                }
            }
        }

        .fee {
            width: 100%;
            border-top: 1px solid #707070;
            border-bottom: 1px solid #707070;
            padding: 15px 0;
            margin: 15px 0;

            p {
                width: 100%;
                font-family: LatoReg;
                font-size: 16px;
                margin-bottom: 0;

                span {
                    font-family: LatoBold;
                    text-align: right;
                    float: right;
                }
            }
        }

        .total {
            p {
                width: 100%;
                font-family: LatoReg;
                font-size: 16px;
                margin-bottom: 0;
                line-height: 2;

                span {
                    font-family: LatoBlack;
                    text-align: right;
                    float: right;
                    font-size: 30px;
                    color: $blue;
                    line-height: 1;
                }
            }
        }
    }
}

.img-holder {
    margin: 0 !important;
    width: 100% !important;
    max-width: none !important;
}

.mdl-img-close {
    position: absolute;

    z-index: 9999999;

    top: -40px;

    right: -35px;

    z-index: 9999;

    cursor: pointer;

    span {
        font-size: 55px;
        color: #fff;

    }
}

//Radio
.radio-cont {
    color: rgba(255, 255, 255, 0.3);
    display: block;
    position: relative;

    input[type=radio] {
        position: absolute;
        visibility: hidden;
    }

    input[type=radio]:checked ~ .check {
        border: 2px solid #0B5388;
        background: #fff;
    }

    input[type=radio]:checked ~ .check::before {
        background: #0B5388;
    }

    input[type=radio]:checked ~ label {
        color: #fff;
    }

    label {
        display: block;
        position: relative;
        font-weight: 300;
        font-size: 1.35em;
        padding: 0 0 0 45px;
        height: 30px;
        z-index: 9;
        font-size: 12px;
        font-family: LatoBlack;
        text-transform: uppercase;
        // white-space: nowrap;
        cursor: pointer;
        margin-bottom: 3px;
        -webkit-transition: all 0.25s linear;

        &:hover label {
            color: #FFFFFF;
        }

        &.h-15 {
            height: 15px;
        }
    }

    .check {
        display: block;
        position: absolute;
        border: 2px solid #0B5388;
        // background: rgba(255, 255, 255, 0.3);
        background: #FFFFFF;
        border-radius: 100%;
        height: 18px;
        width: 18px;
        top: 0px;
        left: 20px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;

        &:hover .check {
            border: 5px solid #FFFFFF;
        }

        &::before {
            display: block;
            position: absolute;
            content: '';
            border-radius: 100%;
            height: 8px;
            width: 8px;
            top: 3px;
            left: 3px;
            margin: auto;
            transition: background 0.25s linear;
            -webkit-transition: background 0.25s linear;
        }
    }
}

.border-top {
    border-top: 1px solid #fff;
}

.fnt-s {
    font-size: 11px;
}

.footer {
    background-color: $blue;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-family: LatoBold;
       padding: 30px 0 0;


    ul {
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
        }
    }

    .logo {
        height: 50px;
    }

    .nav-opt {
        a {
            padding-left: 35px;
            padding-right: 35px;
        }
    }

    .social {

        a {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    a {
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        color: #fff;

        &:hover {
            color: $ll-blue;
        }

        .active {
            background-color: #4CAF50;
            color: white;
        }
    }

    .copy {
        font-family: HelveticaNeue;
        font-size: 14px;
    }
}

.up-md-brd {
    padding-bottom: 10px;
    border-bottom: 1px solid #000 !important;
    margin-bottom: 20px;
}

.notif-list {
    min-width: 500% !important;

    p {
        padding-right: 10px;
        padding-left: 10px;
        word-break: break-word;
        white-space: pre-wrap;
        margin: 0;
        border-bottom: 1px solid #c7c7c7;
        cursor: pointer;

        &:nth-last-child(1) {
            border-bottom: 0;
        }
    }
}

.p-img-upload {
    padding: 0 15px 15px 15px;

    h3 {}

    .ico {
        cursor: pointer;
        position: absolute;
        top: -15px;
        right: 3px;
    }
}

.maintenance {
    background: url("/images/mainte-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    h1 {
        text-align: center;
        font-size: 4.25rem;
        font-family: LatoHeavy;
        color: #fff;
        font-weight: bold;

        span {
            font-style: normal !important;
            color: black;
            background: #fff;
            padding: 9px 18px;
            border-radius: 15%;
        }
    }

    h3 {
        text-align: center;
        font-family: LatoHeavy;
        color: #fff;
        font-weight: bold;
    }

    p {
        text-align: center;
        font-family: LatoReg;
        font-size: 27px;
        font-weight: 300 !important;
        color: #fff;
    }

    .soc-meds {

        a {
            img {
                margin-right: 5px;
            }

            color: #fff;
            font-weight: 500;

        }
    }
}

#notif {
   padding: 30px 15px;

    .btn-full {
        background: #0B5388;
        color: #fff;
        border-radius: 0;
        border: 1px solid #ADABAB;
        border-top: none;
        font-family: MontserratBold;
        font-size: 12px;
    }

    .notification-list {
        padding: 15px;
        height: calc(100vh - 300px);
        overflow-y: auto;
        border: 1px solid #0B5388;
    }

    .notification-info {
        height: calc(100vh - 300px);
        border: 1px solid #0B5388;
    }

    .body-card {
        height: calc(100vh - 485px);
        overflow-y: auto;
    }

    .card-header-2 {
        background: #0B5388 !important;
        padding: 1.3rem 1.25rem;
    }
}
