@font-face {
    font-family: LatoReg;
    src: url('/fonts/Lato-Regular.ttf');
}

.nurse-mh-panel {
    height: calc(100vh - 1px);
}



.content {
    margin-top: 81px;
}

.b2b {
    height: calc(100vh - 81px);
    background: url('/images/b2b-bg.jpeg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80%;
}

.registration {
    height: calc(100vh - 81px);
    background: url('/images/reg-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.call-back-re {
    label {
        color: #707070 !important;
    }
}

.textinput-callback {
    .mobile-number {
        padding: 5px 15px !important;
    }
}

.reg-form {

    background: url('/images/reg-form.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .body {
        padding: 5% 10% 15px 10%;
        overflow: auto;
        height: calc(100vh - 81px);
    }

    h3 {
        color: #0B5388;
    }

    .log-btn {

        position: relative;

        .fb {
            color: #fff;
            background: #32508d;
            width: 100%;
            font-weight: 600;
            padding: 7px 26px 7px 26px;
            margin: 10px 0;
            font-size: 12px;
            border-radius: 25px;
        }

        .fab {
            font-weight: normal !important;
        }



        h2 {
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 100%;
            transform: rotate(0deg);
            text-align: center;
            border-bottom: 1px solid #000;
            line-height: 0.1em;
            margin: 5px 0 5px;
            font-size: 16px;

            span {
                text-transform: lowercase !important;
                font-size: 12px;
                color: #000;
                padding: 0px 5px;
                background: #fff;

            }
        }
    }

    .form-design {
        input[type='email'] {
            border: 1px solid #0B5388;

        }

        input[type='password'],
        input[type='number'],
        input[type='text'] {
            border: 1px solid #0B5388;
            background: #fff;
            -webkit-appearance: none;
            margin: 0;

            &::placeholder {
                font-size: 0.9rem;
            }

            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    .text-underline {
        border-bottom: 1px solid #707070;

    }

    .form-footer {
        margin-top: 20px;
        text-align: center;
        width: 100%;

        p {
            font-size: 11px;
        }
    }
}

.nursedoclog {
    height: calc(100vh - 81px);
    background: url('/images/nursedoclog.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 81px;

    .nav-tabs {
        width: 100%;

        li {
            background: #F0EFEF;
            width: 50%;

            a {
                text-align: center;
                font-size: 18px;
                font-family: LatoReg !important;
                text-transform: uppercase;
                color: #707070;
                font-weight: 300;

                &.active {
                    color: #0B5388;
                    font-weight: 800 !important;

                }
            }
        }

    }

    .second-tabs {
        border-radius: 25px 0 0 0;

    }

    .form {
        border-radius: 15px 15px 0px 0;
        overflow: hidden;
    }

    .tab-pane {
        padding: 35px 80px;
        background: #fff;

        h3 {
            color: #0B5388
        }
    }

    input[type='email'] {
        border: 1px solid #0B5388;
        border-radius: 0 !important;
    }

    input[type='password'],
    input[type='number'],
    input[type='text'] {
        border-radius: 0 !important;
        border: 1px solid #0B5388;
        background: #fff;
        -webkit-appearance: none;
        margin: 0;

        &::placeholder {
            font-size: 0.9rem;
        }

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

#success-reg-mdl {
    .success-reg-mdl {
        padding: 45px 40px;

        img {
            margin-bottom: 25px;
        }

        h3 {
            font-weight: 800;
            color: #0B5388;
        }

        p {
            font-size: 16px;
        }

    }
}

#forgot-mdl {
    .forgot-mdl {
        padding: 45px 40px;

        img {
            margin-bottom: 25px;
        }

        h3 {
            font-weight: 800;
            color: #0B5388;
        }

        p {
            font-size: 16px;
        }

    }

    input[type='email'] {
        border: 1px solid #0B5388;

    }

    input[type='password'],
    input[type='number'],
    input[type='text'] {
        border: 1px solid #0B5388;
        background: #fff;

        &::placeholder {
            font-size: 0.9rem;
        }
    }
}

#reset-success-mdl {
    .forgot-mdl {
        padding: 45px 40px;

        img {
            margin-bottom: 25px;
        }

        h3 {
            font-weight: 800;
            color: #0B5388;
        }

        p {
            font-size: 16px;
        }

    }

    input[type='email'] {
        border: 1px solid #0B5388;

    }

    input[type='password'],
    input[type='number'],
    input[type='text'] {
        border: 1px solid #0B5388;
        background: #fff;

        &::placeholder {
            font-size: 0.9rem;
        }
    }
}

.loader {
    display: none;
    text-align: center;
    background-color: rgba(255, 255, 255, .6);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.border-none {
    border: 0 !important;
}
