@media (max-width: 1190px) and (min-width: 1133px) {
    .md-breaker {
        display: block;
    }
}

@media (min-width: 1366px) {
    .reg-form {
        padding: 15% 15% 0 15%;
    }
}

@media (max-width: 1366px) {

    .reg-form {
        padding: 2% 15% 0 15%;

        .margini {
            margin: 15px 0 !important;
        }

        .form-group {
            margin-bottom: .5rem;
        }
    }

    .queue {
        .patients {
            .doc-p-queue {
                height: calc(100vh - 100%);
                overflow-y: auto;
                border-bottom: 2px solid;
                margin-bottom: 7px;
                overflow-x: hidden;
            }

            .doc-cb-request {
                height: calc(100vh - 95%);
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }

}

@media (max-width: 1338px) {
    .newsletter {
        .content-body {
            background-size: cover !important;
        }
    }
}


@media (max-width:1301px) {
    .maintenance {
        background: url("/images/mainte-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;

        h1 {
            text-align: center;
            font-size: 3rem;
            font-family: LatoHeavy;
            color: #fff;
            font-weight: bold;

            span {
                font-style: normal !important;
                color: black;
                background: #fff;
                padding: 9px 18px;
                border-radius: 15%;
            }
        }

        h3 {
            font-size: 1.475rem;
            text-align: center;
            font-family: LatoHeavy;
            color: #fff;
            font-weight: bold;
        }

        p {
            text-align: center;
            font-family: LatoReg;
            font-size: 25px;
            font-weight: 300 !important;
            color: #fff;
        }

        .soc-meds {
            color: #fff;
            font-weight: 500;

            a {}
        }
    }
}

@media (max-width:1119px) {
    .newsletter {
        .content-body {
            background-size: 222% !important;
        }
    }

    #home {
        .options {
            form {
                .radio-cont {
                    label {
                        font-size: 11px;
                    }
                }
            }

            .columns {
                .border-right {
                    padding-right: 0;
                }
            }

        }
    }
}
@media (max-width: 991.98px) {
    #notif{
        margin-top: 75px;
        .notification-info{
            height: auto;
        }
    }
    .f-img {
        width: 35%;
    }

    .b2b-logo {
        width: 50%;
    }

    #home {
        .second-col {
            border: 0px !important;
        }

        #home-slider {
            .carousel-item {
                background-position: center;

                .mobile-body {
                    text-align: left !important;
                    top: 23%;
                    padding-right: 3%;

                    h2 {
                        margin-top: 0;
                    }

                    p {
                        padding: 0;
                    }
                }
            }
        }
    }

    #about {
        .service {
            h5 {
                margin-left: 0;
            }
        }
    }

    #public-nav {
        .pubnav-mobile {
            .navbar-nav {
                height: calc(100vh - 370px);
                overflow-y: auto;
            }
        }
    }

    #dashboard {
        .box-w.records {
            padding: 15px 10px;
        }
    }

    #inbox {
        .chat-box {
            .body {
                padding-right: 0;
            }
        }
    }

    .user-info {
        margin-top: 80px;
    }

    .navbar {
        .logo {
            height: 100%;
            margin-left: 25px;
        }
    }

    .sidenav {
        width: 0;
    }

    .content-dashboard {
        margin-left: 0;
        margin-top: 0;
    }

    #hide-user-info {
        display: block;
    }

    .user-info {
        .button {
            margin-top: 10px;
            width: 100%;
        }

        .name {
            text-align: center;
        }

        .details {
            justify-content: center;
        }
    }

    #inbox {
        .chat-box {
            margin-top: 100px;
            height: calc(100vh - 200px);
        }
    }

    .header {
        height: 420px;

        .overlay {
            .body {
                padding: 0 90px;
            }
        }
    }

    #about {
        .how {
            padding: 20px 0 50px 0;
        }

        .service {
            .body {
                padding: 100px 0 100px 0;

                .border-mobile {
                    background-position: 15% 0;

                    .text-right {
                        text-align: center !important;
                    }
                }

                .laptop {
                    position: relative;
                    display: block;
                    margin-left: auto;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }

    #subscribe {
        .subscribe {
            .plan {
                width: 430px;
            }
        }
    }

    .header {
        .plain {
            .progressbar {
                li:after {
                    left: -45%;
                }
            }
        }
    }


}

// Large devices (desktops, less than 1200px)

@media (max-width: 767.98px) {
    .f-img {
        width: 40% !important;
    }

    #inbox {
        .chat-box {
            .body {
                .chat-cont {
                    height: calc(100vh - 243px);
                }
            }
        }
    }

    #home {
        #home-slider {
            .carousel-item {
                background-position: center;

                .mobile-body {
                    text-align: left !important;
                    top: 23%;
                    padding-right: 21% !important;

                    h2 {
                        margin-top: 0;
                    }

                    p {
                        padding-right: 21% !important;
                    }
                }
            }
        }
    }

    .terms-body {
        ol {
            padding-left: 15px;
        }
    }

    #dashboard {
        padding: 30px 15px;
    }

    .no-gutters-sm {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    #dashboard {
        .box-w {
            .button {
                &.float-right {
                    float: none;
                }
            }

            .ltxt-bold {
                text-align: center;
            }
        }
    }

    .header {
        .overlay {
            text-align: center;
        }
    }

    #home {
        #home-slider {
            .carousel-item {
                height: 450px;
            }

            .carousel-caption {
                text-align: center;

                .logo {
                    margin-left: auto;
                }

                h2 {
                    font-size: 30px;
                }

                p {
                    width: 100%;
                    padding: 0 30px;
                }
            }
        }

        .radio-cont {
            display: inline-block;

            label {
                display: inline-block;
            }
        }

        .options {
            .columns {
                text-align: center;
                padding: 60px;

                .border-right {
                    border-right: 0 !important;
                    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
                    padding-bottom: 20px;
                }

                .mg-top {
                    margin-top: 20px;
                }

                .media {
                    display: block;

                    img {
                        margin-right: 0;
                    }
                }
            }

            .mobile-number {
                margin-top: 20px;
            }

            .button {
                margin-left: auto;
                margin-right: auto;

                &.send-number {
                    margin-top: 10px;
                }
            }
        }

        .how-kitika-works {
            padding: 100px 0 60px 0;
        }

        .why-choose-us {
            .sub {
                padding: 0 60px;
            }

            #wcu-slider {
                .carousel-inner {
                    height: 400px;
                }
            }
        }

        .pricing {
            .title {
                text-align: center;
            }

            .sub {
                text-align: center;
                width: 90%;
            }

            hr {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .newsletter {
        padding: 0;
        text-align: center;

        .content-body {
            input-cont {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .button {
            padding: 10px 40px;
            width: 100%;

        }
    }

    #subscribe {
        .subscribe {
            .packages {
                padding: 20px 50px 40px 50px;
            }

            .plan {
                width: 100% !important;
            }
        }
    }

    .footer {
        .logo {
            margin-bottom: 20px;
        }

        ul {
            li {}
        }

        .social {
            margin-top: 20px;
        }
    }
}

// Medium devices (tablets, less than 992px)

@media (max-width:635px) {

    #home {
        #home-slider {
            .carousel-item {
                background-position: center;

                .mobile-body {
                    text-align: left !important;
                    top: 23%;


                    h2 {
                        margin-top: 0;
                    }

                    p {
                        padding: 0;
                    }
                }
            }
        }
    }

    .newsletter {

        .content-body {
            background-size: cover !important;

            .custom-maxcontainer {
                .input-cont {
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                button {
                    margin-top: 20px;


                }
            }
        }
    }

}

@media (max-width: 596px) {
    .alert-info {
        top: 0%;
        bottom: auto !important;
        left: 0;
        width: 100%;
    }

    .newsletter {
        .content-body {
            background-size: cover !important;

            input-cont {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 575.98px) {
    .mt-575 {
        margin-top: 2rem;
    }

    #public-nav {
        .navbar {
            .logo {
                width: 90px;
            }
        }
    }

    #dash-nav {
        .navbar {
            .logo {
                width: 90px;
            }

            .hi-name {
                display: none;
            }
        }
    }

    #dashboard {
        .box-w {
            .nav-link {
                font-size: 14px;
                line-height: 1;
            }
        }
    }

    #home {
        #home-slider {
            .carousel-caption {}
        }

        .options {
            .columns {
                padding: 60px 10px !important;
            }
        }

        .why-choose-us {
            padding: 60px 0 20px 0;

            .sub {
                padding: 0 30px !important;
            }

            #wcu-slider {
                .carousel-inner {
                    height: 450px !important;
                }
            }

            .columns {
                &.borderrad {
                    min-height: 380px !important;
                }
            }
        }

        .pricing {
            padding: 50px 20px;

            .sub {
                width: 100% !important;
            }

            .plan {
                .plan-head {
                    padding: 25px 25px 35px 25px !important;
                }
            }
        }

        .newsletter {


            h5 {}
        }
    }

    .header {


        &.small-header {
            height: 150px !important;
        }

        .overlay {
            .body {
                padding: 0 10px !important;
            }
        }
    }

    #about {
        #service-slider {
            .carousel-inner {
                padding: 0px 0px !important;
            }
        }

        .service {
            .body {
                padding: 70px 0 70px 0 !important;

                .border-mobile {
                    padding: 60px 0px 30px 0px !important;
                }
            }
        }
    }

    #subscribe {
        .subscribe {
            .packages {
                padding: 20px 20px 40px 20px !important;
            }
        }
    }

    #checkout {
        .bg-white {
            padding: 40px 20px;
        }
    }

    .reg-form {
        padding: 5% 15px 15px 15px !important
    }
}

@media (max-width: 527px) {
    .f-img {
        width: 45% !important;
    }

    .header {
        .plain {
            .progressbar {
                li {
                    width: 32%;
                }
            }
        }
    }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 452px) {
    .maintenance {


        h1 {
            font-size: 1.9rem !important;

            span {}
        }

        h3 {
            font-size: 1.175rem !important;
        }

        p {
            font-size: 22px;
        }

        .soc-meds {

            a {}
        }
    }
}

@media (max-width: 446px) {
    #dashboard {
        .box-w {
            .nav-pills {
                .nav-item {
                    .nav-link {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 423px) {
    .f-img {
        width: 55% !important;
    }

    .seen,
    .sent,
    .delivered {
        margin-right: 0;
    }

    .b2b-head-p {
        font-size: 1.4rem;

    }

    .header {
        .plain {
            .progressbar {
                li {
                    font-size: 0.6rem;
                }
            }
        }
    }

    .newsletter {
        background-position: 50% 0;

        .content-body {

            .custom-maxcontainer {
                .input-cont {
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                button {
                    margin-top: 20px;
                }
            }
        }
    }
}
@media (max-width: 386px) {
    #home {
        .why-choose-us {
            .title {
                font-size: 30px;
            }
        }
    }

    .newsletter {
        .content-body {
            padding: 60px 30px 50px 30px !important;
        }
    }

    .header {
        .plain {
            .progressbar {
                li:after {
                    //                    left: -42%;
                }
            }
        }
    }

    .header {
        .plain {
            .progressbar {
                li {
                    width: 22%;
                }
            }
        }
    }

    .footer {
        ul {
            margin-top: 10px;
            padding: 0;
            list-style-type: none;

            li {
                margin-top: 10px;
                display: block;
            }
        }
    }


}

@media (max-width: 357px) {
    .maintenance {


        h1 {

            span {}
        }

        h3 {}

        p {}

        .soc-meds {

            a {}
        }
    }

    #home {
        #home-slider {
            .carousel-item {
                background-position: center;

                .mobile-body {
                    text-align: left !important;
                    top: 23%;
                    padding-right: 21% !important;

                    h2 {
                        margin-top: 0;
                    }

                    p {
                        padding-right: 8% !important;
                    }
                }
            }
        }
    }
}
