.content {
    height: 100vh;
    margin: 0 !important;
    padding: 100px 15px 35px 15px !important;
}
.d-block{
    display: block !important;
}
.d-none{
    display: none !important;
}
.w-100{
    width: 100%;
}
.table-header{
    border: 1px solid;
    tr{
        &:nth-child(1){
            td{
                color: #085784;
            }
        }
        td{
            border-bottom: 1px solid;
            padding-bottom: 15px;
            padding-top: 15px;
            font-weight: 600;
            border-top: none;
            background: #fff !important;
            
        }
    }
}
.chat-logs{
    background: #085784 !important;
    height: calc(100vh - 173px);
    position: absolute;
    top: 0;
    right: 80px;
    bottom: 0;
    padding: 15px;
    width: 24%;
    border-radius: 25px;
    z-index: 999999999 !important;
    .cht-cont{
        background: #C1EAFB;
        padding: 15px;
        height: calc(100vh - 255px);
        overflow-y: auto;
      
        .patient-msg{
            img{
                width: 12%;
            }
            p{
                display: inline-block;
            }
            .media-body{
                color: #000;
   background: #fff;
   border-radius: 6px;
   margin-right: 15px;
   padding: 15px;
   font-size: 12px;
            }
        }
        .nurse-msg{

            img{
                width: 12%;
            }
            p{
                display: inline-block;
            }
            .media-body{
                color: #fff;
   background: #538FB5;
   border-radius: 6px;
   margin-right: 15px;
   padding: 15px;
   font-size: 12px;
            }
        }
        .doctor-msg{
            img{
                width: 12%;
            }
               p{
                display: inline-block;
            }
        }
      
    }
    
}
.logo1 {
    width: 50% !important;
    height: auto !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30px !important;

}
.mt-2{
  margin-top: 2rem !important;
}
.mb-2{
  margin-bottom: 2rem !important;
}
.mb-3{
    margin-bottom: 3rem !important;
}
.plan-list-workaround{
    td{
        padding-top: 15px;
    padding-bottom: 15px;
    }
    .fa{
        font-size: 30px;
    }
}
.m-0 {
    margin: 0 !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mr-3 {
    margin-right: 3rem !important;
}

.mr-2 {
    margin-right: 2rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.ml-3 {
    margin-left: 3rem !important;
}

.ml-2 {
    margin-left: 2rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

input[type='number'] {

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.pl-0{
    padding-left: 0;
}
.main-panel {
    //    width: calc(100% - 242px);
}

.search-container {
    position: relative;

    .form-group {
        margin-top: 0 !important;

    }

    input[type='text'] {
        padding-right: 30px;

    }

    &:focus {
        outline: none !important;
    }

    img {
        position: absolute;
        height: 20px;
        width: auto;
        top: 10px;
        right: 20px;
    }
}

.first {
    padding: 35px 0;
}

.text-center {
    text-align: center;
}

.fourth {
    margin: 20px 20px 40px 20px !important;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.h-100 {
    height: 100%;
}

.button {
    padding: 10px 30px;
    font-family: inherit;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;

    &.blue {
        background-image: linear-gradient(#0AAAEB, #0B5388);
        color: #FFD800;
        padding: 10px 30px !important;
        border: none;
        transition: .2s ease;

    }
}

.footer-login {
    margin: 20px 0;
}

//MEDIA QUERY

@media (max-width:400px) {
    .wrapper {
        padding: 0 !important;
    }
}

//  
.loader {
    display: none;
    text-align: center;
    background-color: rgba(255, 255, 255, .6);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.d-block {
    display: block !important;
}

.text-center {
    text-align: center !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.admin-notif-alert-bullet {
  background: #FF0000;
  position: absolute;
//  right: 0px;
//  top: 11px;
  left : 10px;
  z-index: 1;
  text-align: center;
  font-size: 10px;
  padding: 0px 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: #fff;
}

.admin-notif-alert-bullet-side-nav {
  background: #FF0000;
  position: absolute;
//    right: 45px;
    top: 11px;
  left : 10px;
  z-index: 1;
  text-align: center;
  font-size: 10px;
  padding: 0px 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  color: #fff;
}