//@font-face {
//    font-family: 'HelveticaNeue';
//    src: url('/fonts/HelveticaNeueHeavy.eot');
//    src: url('/fonts/HelveticaNeueHeavy.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/HelveticaNeueHeavy.woff2') format('woff2'),
//        url('/fonts/HelveticaNeueHeavy.woff') format('woff');
//    font-weight: 900;
//    font-style: normal;
//}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueBold.eot');
    src: url('/fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaNeueBold.woff2') format('woff2'),
        url('/fonts/HelveticaNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

//@font-face {
//    font-family: 'HelveticaNeue';
//    src: url('/fonts/HelveticaNeueMedium.eot');
//    src: url('/fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/HelveticaNeueMedium.woff2') format('woff2'),
//        url('/fonts/HelveticaNeueMedium.woff') format('woff');
//    font-weight: 500;
//    font-style: normal;
//}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.eot');
    src: url('/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Lato-Bold.woff2') format('woff2'),
        url('/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueLight.eot');
    src: url('/fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaNeueLight.woff2') format('woff2'),
        url('/fonts/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.eot');
    src: url('/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueRegular.eot');
    src: url('/fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaNeueRegular.woff2') format('woff2'),
        url('/fonts/HelveticaNeueRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Black.eot');
    src: url('/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Lato-Black.woff2') format('woff2'),
        url('/fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueBlackCond.eot');
    src: url('/fonts/HelveticaNeueBlackCond.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaNeueBlackCond.woff2') format('woff2'),
        url('/fonts/HelveticaNeueBlackCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

//Colors
$ll-blue: #0AADEF;
$l-blue: #84A8C3;
$blue: #0B5388;
$green: #00C999;
// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
.cursor-pointer{
  cursor: pointer;
}
.fc-llblue {
    color: $ll-blue;
}

.inbox-info {

    span,
    p {
        font-size: .9rem;
    }
}

.inbox-info-pending {
    font-size: 0.8rem !important;
}

.img-holder {
    margin: 0 !important;
    width: 100% !important;
    max-width: none !important;
}

.mdl-img-close {
    position: absolute;

    z-index: 9999999;

    top: -40px;

    right: -35px;

    z-index: 9999;

    cursor: pointer;

    span {
        font-size: 55px;
        color: #fff;

    }
}

.patient-chatime {
    text-align: right;
    padding-right: 20px;
    font-size: 10px;
}
.seen{
    margin-right: 75px;
     margin-bottom: 0;
        font-size: 12px;
}
.sent{
     margin-right: 75px;
    margin-bottom: 0;
        font-size: 12px;
}
.delivered{
     margin-bottom: 0;
     margin-right: 75px;
        font-size: 12px;
}
.nurse-chatime {
    text-align: left;
    font-size: 10px;
}

.button {
    padding: 10px 30px;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    text-transform: uppercase;

    &.white {
        background: #fff;
        color: $blue;
        border: 2px solid $blue;
        padding: 8px 30px;
    }

    &.blue {
        background-image: linear-gradient(#0AAAEB, #0B5388);
        color: #FFD800 !important;
        padding: 10px 30px !important;
        border: 0;
        width: 100%;
    }
}

#public-nav {
    .navbar {
        background: white;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #212121 !important;

        .logo {
            height: 100%;
            margin: 0;
        }

        .hi-name {
            display: inline;
        }
    }

    .navbar-nav {
        .nav-item {
            padding-left: 20px;
            padding-right: 20px;

            .nav-link {
                color: $l-blue !important;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 5px;
            }

            &.active {
                .nav-link {
                    color: $blue !important;
                    letter-spacing: 5px;
                }
            }

            &.notif {
                .notif-alert {
                    background: #FF0000;
                    position: absolute;
                    right: 0px;
                    top: 11px;
                    z-index: 1;
                    text-align: center;
                    font-size: 10px;
                    padding: 0px 5px;
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                    color: #fff;
                }

                .notif-icon {
                    height: 23px;
                    position: absolute;
                    bottom: 10px;
                }
            }

            &.profile {
                .nav-link {
                    color: #000 !important;
                    letter-spacing: 0;
                    text-transform: none;
                }

                .profile-pic {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }

    .pubnav-mobile {
        background: #fff;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 9999;

        .button {
            width: 180px;
            text-align: center;
            margin: auto;
        }

        .navbar-light .navbar-toggler-icon {
            background-image: url("/images/icons/hamburger.svg") !important;
        }

        .header {
            height: 270px !important;
        }

        .navbar-nav {
            text-align: center;
            padding: 25px 0;

            li {
                padding: 15px 10px;

                a {
                    font-size: 16px;
                    color: #000;
                    text-transform: uppercase;
                }
            }
        }

        .blue-menu {
            color: $blue;
        }

        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .brand {
            text-align: center;
            display: block;
        }

        .nav-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .terms {
            text-align: center;
            margin-top: 10px;

            a {
                color: #000;
            }
        }

        .profile-pic {
            height: 100px;
            width: 100px;
        }

        .name {
            font-family: HelveticaBold;
            font-size: 18px;
            text-align: center;
        }
    }
}

.nursedoclog {
    height: calc(100vh - 81px);
    background: url('/images/nursedoclog.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 81px;

    .nav-tabs {
        width: 100%;

        li {
            background: #F0EFEF;
            width: 50%;

            a {
                text-align: center;
                font-size: 18px;
                text-transform: uppercase;
                color: #707070;
                font-weight: 300;

                &.active {
                    color: #0B5388;
                    font-weight: 800 !important;

                }
            }
        }

    }

    .second-tabs {
        border-radius: 25px 0 0 0;

    }

    .form {
        border-radius: 15px 15px 0px 0;
        overflow: hidden;
    }

    .tab-pane {
        padding: 35px 80px;
        background: #fff;

        h3 {
            color: #0B5388
        }
    }

    input[type='email'] {
        border: 1px solid #0B5388;
        border-radius: 0 !important;
    }

    input[type='password'],
    input[type='number'],
    input[type='text'] {
        border-radius: 0 !important;
        border: 1px solid #0B5388;
        background: #fff;
        -webkit-appearance: none;
        margin: 0;

        &::placeholder {
            font-size: 0.9rem;
        }

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

//Variables
$lblue:#E8F7FF;
$dblue:#085784;
$yellow:#EDC222;
$green:#00C999;
$grey:#F5F5F5;

.fc-white {
    color: #fff !important;
}

.history-bg {
    background: #085784 !important;
}

.history-card {
    overflow-y: auto;

    .table {
        border: 1px solid #dee2e6;
        padding: 10px;

        td {
            font-size: 13px;
        }
    }
}

.accordion {
    .card {
        td {
            border-top: 0;
            padding-left: 0;

        }
    }
}

.ROS {
    font-size: 12px;
    margin-top: 1.3rem;
    padding: 0;
    list-style-type: none;

    .ROS-parent {
        h6 {
            color: #085784;
            font-weight: 600;
        }
    }

}

.button {
  padding: 10px 30px;
  font-family: MontserratBold;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;

  &.green {
    background: $green;
    color: #fff;
  }

  &.green-w {
    background: #fff;
    color: $green;
    border: 2px solid $green;
    padding: 8px 30px;
  }

  &.blue {
    background-image: linear-gradient(#0AAAEB, #0B5388);
    color: #FFF !important;
    padding: 10px 30px !important;
    font-family: sans-serif !important;
    border: 0;
    width: 100%;
  }
}

.btn-ongoing {
    background: transparent !important;
    color: $green !important;
    border: 4px solid $green !important;
    border-radius: 85px !important;
    padding: 8px 30px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    transition: 1s ease;

    &:hover {
        background: $green !important;
        color: #fff !important;
    }
}

.btn-pending {
    background: $dblue !important;
    color: #fff !important;
    border-radius: 85px !important;
    padding: 8px 30px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    border: 2px solid $dblue !important;
    transition: 1s ease;

    &:hover {
        background: transparent !important;
        color: $dblue !important;
        border: 2px solid $dblue !important;
    }
}

.btn-incomplete {
    width: 100%;
    background: transparent !important;
    color: $yellow !important;
    border: 2px solid $yellow !important;
    border-radius: 85px !important;
    padding: 8px 30px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    transition: 1s ease;

    &:hover {
        background: $yellow !important;
        color: #fff !important;
        border: 2px solid $yellow !important;
    }
}

.btn-end {
    width: 100%;
    background: $green !important;
    color: #fff !important;
    border-radius: 85px !important;
    padding: 10px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    border: 2px solid $green !important;
    transition: 1s ease;

    &:hover {
        background: transparent !important;
        color: $green !important;
        border: 2px solid $green !important;
    }
}



//
body {
    font-family: sans-serif !important;
    font-size: 16px;
}

.nav-cont {
    background: $lblue;
    padding: 13px 30px !important;

    .btn-group {
        img {
            cursor: pointer;
        }

        .center-margin {
            margin-left: 25px;
            margin-right: 25px;
        }
    }
}

.wrap {
    height: calc(100vh - 159px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $dblue;
        border-radius: 85px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $dblue;
        cursor: pointer;

    }
}

.doc-d-name {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.doc-panel {
    height: calc(100vh - 170px);
    overflow-y: auto;

    textarea {
        width: 100%;
        min-height: 60px;
        resize: none;
        border-radius: 10px;
        border: 1px solid $dblue;
        margin-bottom: 7px;

        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $dblue;
            border-radius: 85px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $dblue;
            cursor: pointer;

        }
    }

    label {
        font-size: .9rem;
        font-weight: 600;
    }

    h4,
    h6 {
        color: #085784;
        font-weight: 600;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $dblue;
        border-radius: 85px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $dblue;
        cursor: pointer;

    }
}

.doc-mh {}

.switch-box {
    margin-right: 35px;

    .switch {

        position: relative;
        display: inline-block;
        width: 40px;
        height: 23px;
        margin-right: 12px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }


    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 21px;
            width: 21px;
            left: -1px;
            bottom: 0px;
            background-color: white;
            transition: 0.4s;
            border: 1px solid $dblue;
        }

        &.active {
            background-color: $green;
            box-shadow: 0 0 1px #2196F3;

            &:before {
                -webkit-transform: translateX(20px);
                -ms-transform: translateX(20px);
                transform: translateX(20px);
            }
        }
    }







    .slider.round {
        border-radius: 34px;
        border: 1px solid $dblue;

        &:before {
            border-radius: 50%;
        }
    }

    p {

        font-size: 14px;
        margin: 0;
        vertical-align: initial;
    }
}

.user-profile {
    margin-right: 14px;

    img {
        height: 40px;
        width: 40px;
        border-radius: 85px;
        margin-right: 12px;
    }

    p {

        color: $dblue;
        font-size: 14px;
        margin: 0;
        vertical-align: initial;
    }
}

.menus {
    margin-top: 17px;

    ul {
        width: 100%;
        padding: 0;
        list-style-type: none;
        text-align: center;
        display: table;
        table-layout: fixed;

        a {
            border-bottom: 5px solid $yellow;
            color: #000;
            padding-bottom: 15px;
            display: table-cell;

            &:hover,
            &:focus {
                text-decoration: none;
            }

            li {
                font-size: 18px;

            }

        }

        .active-menu {
            border-bottom: 5px solid $dblue;

            li {
                font-weight: 600;
            }
        }

    }
}

.queue {
    background: #F5F5F5;
       height: calc(100vh - 425px);
    overflow-y: hidden;

    .heading {
        background: $lblue;
        padding: 12px 16px;

        p {
            font-size: 14px;
            font-weight: 600;
            color: $dblue;
            margin: 0;
        }

        span {
            border-radius: 85px;
            width: 25px;
            height: 25px;
            padding: 6px;
        }
    }

    .search {
        padding: 16px 17px 13px 16px;

        input[type='text'] {
            border-radius: 80px;
            background: #F5F5F5;
            border: 1px solid $dblue;
            padding-right: 40px;

            &::placeholder {
                color: $dblue;
            }
        }

        img {
            height: 19px;
            right: 13px;
            top: 9px;
        }
    }

    .patients {
        padding: 15px 9px 15px 9px;
        height: calc(100vh - 500px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $dblue;
            border-radius: 85px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $dblue;
            cursor: pointer;

        }

        .box {
            border: 1px solid $dblue;
            background: #fff;
            margin-bottom: 10px;
            padding: 12px 12px;

            .badge {
                display: none;
                margin-top: 5px;
                width: 15px;
                height: 15px;
                border-radius: 85px;
                background: $green;
            }

            .concern {
                font-size: 16px;
            }
        }

        .active-box {
            border: 3px solid $dblue !important;
            background: #E8F7FF !important;

            .badge {
                display: initial !important;
                margin-top: 5px;
                width: 15px;
                height: 15px;
                border-radius: 85px;
                background: $green;
            }

        }

        .doc-p-queue {
           height: calc(100vh - 98%);
            overflow-y: auto;
            border-bottom: 2px solid;
            margin-bottom: 7px;
            overflow-x: hidden;
        }

        .doc-cb-request {
        height: calc(100vh - 89%);
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

.user-name {
    p {
        color: #085784;
        font-size: 10px;
        margin-bottom: 0 !important;
    }

    .me {
        text-align: right;
        //        padding-left: 55px;
        padding-right: 80px;
    }

    .others {
        padding-left: 55px;
    }
}

.patient-info {
    background: $dblue;
    padding: 13px 15px;

    p {
        color: #fff;
    }

    .printer {
        width: 17px;
    }

    img {
        margin-top: 5px;
        width: 16px;
        float: right;
        cursor: pointer;
    }
}

.chat {
    .profile-pic {
        height: 40px;
        width: 40px;
    }

    .body {
        background: #C1EAFB;
        margin-top: 20px;

        .chat-cont {
            background: #C1EAFB;
            overflow-y: scroll;
            padding: 20px 25px;
            height: calc(100vh - 345px);

            &::-webkit-scrollbar {
                width: 10px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $dblue;
                border-radius: 85px;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $dblue;
                cursor: pointer;

            }
        }

        .date {
            font-size: 12px;
        }

        .symptoms {
            background: $dblue;
            color: #fff;
            border-radius: 6px;
            padding: 7px 15px;
            font-size: 12px;
            margin-bottom: 10px;

            .label {
                color: #fff;
                text-transform: none;
            }
        }

        .patient-msg {
            margin: 0 0 0px 0;
            padding-right: 20px;

            .message {
                background: #fff;
                border-radius: 6px;
                margin-left: 15px;
                padding: 15px;
                width: auto;
                font-size: 12px;
                word-break: break-all;
                p {
                    margin-bottom: 0;

                }
            }
        }

        .nurse-msg {
            margin: 0 0 0px 0;
            padding-right: 20px;

            .message {
                background: $green;
                border-radius: 6px;
                margin-left: 15px;
                padding: 15px;
                width: auto;
                font-size: 12px;
word-break: break-all;
                p {
                    margin-bottom: 0;
                    color: #fff;
                }
            }
        }

        .my-msg {
            margin: 0 0 0px 0;
            padding-right: 20px;

            .message {
                color: #fff;
                background: #538FB5;
                border-radius: 6px;
                margin-right: 15px;
                float: right;
                padding: 15px;
                width: auto;
                font-size: 12px;
word-break: break-all;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .message-box {
        background: #fff;
        //        padding: 10px 25px;
        height: -webkit-fill-available;
        height: 75px;

        form {
            width: 100%;
        }

        input {
            border-radius: 18px;
            border: 1px solid #0B5388;
            outline: 0;
            width: 100%;
        }

        .button {
            padding: 10px 0;
            outline: 0;
            border: none;
            width: 100%;
            cursor: pointer;
        }

        .send {
            height: calc(1.5em + 0.55rem + 2px);
        }
    }
}


.cursor-pointer {
    cursor: pointer;
}

.prescription {
    padding: 14px 20px;
    background: #F5F5F5;
    height: calc(100vh - 222px);
    overflow-y: auto;

    p,
    label {
        font-size: 14px;
        margin-bottom: 7px;
        color: #707070;
        font-weight: 600;
    }

    input {
        border-radius: 10px;
        border: 1px solid $dblue;
    }

    textarea {
        width: 100%;
        min-height: 60px;
        resize: none;
        border-radius: 10px;
        border: 1px solid $dblue;
        margin-bottom: 7px;

        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $dblue;
            border-radius: 85px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $dblue;
            cursor: pointer;

        }
    }

    .suggest {
        display: none;
        position: absolute;
        z-index: 99;
        background: #F5F5F5;
        width: 95%;
        padding: 15px 5px;
        color: #fff;
        border-radius: 20px;
        box-shadow: 0px 1px 23px -6px #000;
        max-height: 170px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $dblue;
            border-radius: 85px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $dblue;
            cursor: pointer;

        }

        ul {
            padding: 0;
            list-style-type: none;

            li {
                padding: 5px 10px;
                font-size: 14px;
                color: #000;
                background: #F5F5F5;
                border: 1px solid $dblue;
                margin-bottom: 10px;
                border-radius: 25px;
                transition: .5s ease;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background: $dblue;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $dblue;
        border-radius: 85px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $dblue;
        cursor: pointer;

    }
}

.info {
    padding-left: 15px;
    padding-right: 15px;

    .head {
        background: $lblue;
        padding: 12px 10px;

        p {
            margin: 0;
            color: $dblue;
            font-weight: 600;
        }
    }

    .content {
        padding: 12px 10px;
        background: #F5F5F5;

        p {
            font-size: 14px;
        }
    }
}

.loader {
    display: none;
    text-align: center;
    background-color: rgba(255, 255, 255, .6);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@media (max-width: 1290px) {


    .queue {
            height: calc(100vh - 388px);
        .patients {
            .doc-p-queue {
                height: calc(100vh - 100%);
                overflow-y: auto;
                border-bottom: 2px solid;
                margin-bottom: 7px;
                overflow-x: hidden;
            }

            .doc-cb-request {
                height: calc(100vh - 133%) !important;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }

}
@media (max-width: 1366px) {


    .queue {
        .patients {
            .doc-p-queue {
                height: calc(100vh - 100%);
                overflow-y: auto;
                border-bottom: 2px solid;
                margin-bottom: 7px;
                overflow-x: hidden;
            }

            .doc-cb-request {
                height: calc(100vh - 95%);
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }

}
