//@font-face {
//    font-family: 'HelveticaNeue';
//    src: url('/fonts/HelveticaNeueHeavy.eot');
//    src: url('/fonts/HelveticaNeueHeavy.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/HelveticaNeueHeavy.woff2') format('woff2'),
//        url('/fonts/HelveticaNeueHeavy.woff') format('woff');
//    font-weight: 900;
//    font-style: normal;
//}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueBold.eot');
    src: url('/fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaNeueBold.woff2') format('woff2'),
        url('/fonts/HelveticaNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

//@font-face {
//    font-family: 'HelveticaNeue';
//    src: url('/fonts/HelveticaNeueMedium.eot');
//    src: url('/fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/HelveticaNeueMedium.woff2') format('woff2'),
//        url('/fonts/HelveticaNeueMedium.woff') format('woff');
//    font-weight: 500;
//    font-style: normal;
//}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.eot');
    src: url('/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Lato-Bold.woff2') format('woff2'),
        url('/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueLight.eot');
    src: url('/fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaNeueLight.woff2') format('woff2'),
        url('/fonts/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.eot');
    src: url('/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueRegular.eot');
    src: url('/fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaNeueRegular.woff2') format('woff2'),
        url('/fonts/HelveticaNeueRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Black.eot');
    src: url('/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Lato-Black.woff2') format('woff2'),
        url('/fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeueBlackCond.eot');
    src: url('/fonts/HelveticaNeueBlackCond.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaNeueBlackCond.woff2') format('woff2'),
        url('/fonts/HelveticaNeueBlackCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

//Variables
$lblue:#E8F7FF;
$dblue:#085784;
$yellow:#EDC222;
$green:#00C999;
$grey:#F5F5F5;
.cursor-pointer{
  cursor: pointer;
}
.img-holder{
        margin: 0 !important;
    width: 100% !important;
    max-width: none !important;
}
.mdl-img-close{
  position: absolute;

  z-index: 9999999;

  top: -40px;

  right: -35px;

  z-index: 9999;

  cursor: pointer;
  span{
    font-size: 55px;
    color: #fff;

  }
}

.no-of-chat {
    font-size: 13px;
    margin-bottom: 0;
}

.patient-chatime {
    text-align: right;
    padding-right: 20px;
    font-size: 10px;
}

.nurse-chatime {
    text-align: left;
    font-size: 10px;
}
.seen{
    margin-right: 75px;
     margin-bottom: 0;
        font-size: 12px;
}
.sent{
     margin-right: 75px;
    margin-bottom: 0;
        font-size: 12px;
}
.delivered {
  margin-bottom: 0;
  margin-right: 75px;
  font-size: 12px;
}
  .button {
    padding: 10px 30px;
    font-family: MontserratBold;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;

    &.green {
      background: $green;
      color: #fff;
    }

    &.green-w {
      background: #fff;
      color: $green;
      border: 2px solid $green;
      padding: 8px 30px;
    }

    &.blue {
      background-image: linear-gradient(#0AAAEB, #0B5388);
      color: #FFF !important;
      padding: 10px 30px !important;
      font-family: sans-serif !important;
      border: 0;
      width: 100%;
    }
  }

    .btn-ongoing {
    background: transparent !important;
    color: #00C999 !important;
    border: 4px solid #00C999 !important;
    border-radius: 85px !important;
    width: 100%;
    font-weight: 600 !important;
    font-size: 14px !important;
    transition: 1s ease;
    cursor: default !important;

}

.btn-pending {
    background: $dblue !important;
    color: #fff !important;
    border-radius: 85px !important;
    padding: 8px 30px !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    border: 2px solid $dblue !important;
    transition: 1s ease;

    &:hover {
        background: transparent !important;
        color: $dblue !important;
        border: 2px solid $dblue !important;
    }
}

.btn-incomplete {
    width: 100%;
    background: transparent !important;
    color: $yellow !important;
    border: 2px solid $yellow !important;
    border-radius: 85px !important;
    padding: 8px 30px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    transition: 1s ease;

    &:hover {
        background: $yellow !important;
        color: #fff !important;
        border: 2px solid $yellow !important;
    }
}
.btn-for-consult {
    width: 100%;
    background: #085784 !important;
    color: #fff !important;
    border: 2px solid #085784 !important;
    border-radius: 85px !important;
    padding: 8px 30px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    transition: 1s ease;

    &:hover {
        background: #fff !important;
        color: #085784 !important;
        border: 2px solid #085784 !important;
    }
}
.btn-end {
    width: 100%;
    background: $green !important;
    color: #fff !important;
    border-radius: 85px !important;
    padding: 10px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    border: 2px solid $green !important;
    transition: 1s ease;

    &:hover {
        background: transparent !important;
        color: $green !important;
        border: 2px solid $green !important;
    }
}

.btn-connect {
    background: $dblue !important;
    color: #fff !important;
    border-radius: 85px !important;
    padding: 5px 16px !important;
    font-weight: 600 !important;
    font-size: 10px !important;
    border: 2px solid $dblue !important;
    transition: 1s ease;

    &:hover {
        background: transparent !important;
        color: $dblue !important;
        border: 2px solid $dblue !important;
    }
}
.inbox-info{
    span{
            font-size: .9rem;
    }
}
 .inbox-info-pending{
        font-size: 0.8rem !important;
    }  
//
body {
    font-family: sans-serif !important;
    font-size: 16px;
}

.user-name {
    p {
        color: #085784;
        font-size: 10px;
        margin-bottom: 0 !important;
    }

    .me {
        text-align: right;
        //        padding-left: 55px;
        padding-right: 80px;
    }

    .others {
        padding-left: 55px;
    }
}


.nav-cont {
    background: $lblue;
    padding: 13px 30px !important;

    .btn-group {
        img {
            cursor: pointer;
        }

        .center-margin {
            margin-left: 25px;
            margin-right: 25px;
        }
    }
}

.nurse-d-name {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.wrap {
    height: calc(100vh - 159px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $dblue;
        border-radius: 85px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $dblue;
        cursor: pointer;

    }
}

.switch-box {
    margin-right: 35px;

    .switch {

        position: relative;
        display: inline-block;
        width: 40px;
        height: 23px;
        margin-right: 12px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }


    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 21px;
            width: 21px;
            left: -1px;
            bottom: 0px;
            background-color: white;
            transition: 0.4s;
            border: 1px solid $dblue;
        }

        &.active {
            background-color: $green;
            box-shadow: 0 0 1px #2196F3;

            &:before {
                -webkit-transform: translateX(20px);
                -ms-transform: translateX(20px);
                transform: translateX(20px);
            }
        }
    }







    .slider.round {
        border-radius: 34px;
        border: 1px solid $dblue;

        &:before {
            border-radius: 50%;
        }
    }

    p {

        font-size: 14px;
        margin: 0;
        vertical-align: initial;
    }
}

.user-profile {
    margin-right: 14px;

    img {
        height: 40px;
        width: 40px;
        border-radius: 85px;
        margin-right: 12px;
    }

    p {

        color: $dblue;
        font-size: 14px;
        margin: 0;
        vertical-align: initial;
    }
}

.menus {
    margin-top: 17px;

    ul {
        width: 100%;
        padding: 0;
        list-style-type: none;
        text-align: center;
        display: table;
        table-layout: fixed;

        a {
            border-bottom: 5px solid $yellow;
            color: #000;
            padding-bottom: 15px;
            display: table-cell;

            &:hover,
            &:focus {
                text-decoration: none;
            }

            li {
                font-size: 18px;

            }

        }

        .active-menu {
            border-bottom: 5px solid $dblue;

            li {
                font-weight: 600;
            }
        }

    }
}

.queue {
    background: #F5F5F5;
    height: calc(100vh - 152px);
    overflow-y: hidden;

    .heading {
        background: $lblue;
        padding: 12px 16px;

        p {
            font-size: 14px;
            font-weight: 600;
            color: $dblue;
            margin: 0;
        }

        span {
            border-radius: 85px;
            width: 25px;
            height: 25px;
            padding: 6px;
        }
    }

    .search {
        padding: 16px 17px 13px 16px;

        input[type='text'] {
            border-radius: 80px;
            background: #F5F5F5;
            border: 1px solid $dblue;
            padding-right: 40px;

            &::placeholder {
                color: $dblue;
            }
        }

        img {
            height: 19px;
            right: 13px;
            top: 9px;
        }
    }

    .patients {
        margin-top: 35px;
        padding: 0 9px 15px 9px;
        height: calc(100vh - 235px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $dblue;
            border-radius: 85px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $dblue;
            cursor: pointer;

        }

        .box {
            border: 1px solid $dblue;
            background: #fff;
            margin-bottom: 10px;
            padding: 12px 12px;
            cursor: pointer;

            .badge {
                display: none;
                margin-top: 5px;
                width: 15px;
                height: 15px;
                border-radius: 85px;
                background: $green;
            }

            .concern {
                font-size: 16px;
            }
        }

        .active-box {
            border: 3px solid $dblue !important;
            background: #E8F7FF !important;

            .badge {
                display: initial !important;
                margin-top: 5px;
                width: 15px;
                height: 15px;
                border-radius: 85px;
                background: $green;
            }

        }

        .disabled-box {
            border: 3px solid #93b6ca !important;
            background: #d9d9d9 !important;
            cursor: not-allowed;

            .badge {
                display: none !important;

            }

            .btn-ongoing {
                display: none !important;
            }

            .timestamp {
                display: none;
            }

        }

    }
}

.timestamp {
    font-size: 13px;
}

.patient-info {
    background: $dblue;
    padding: 13px 15px;

    p {
        color: #fff;
    }

    .printer {
        width: 17px;
    }

    img {
        margin-top: 5px;
        width: 16px;
        float: right;
        cursor: pointer;
    }
}

.chat {
    .profile-pic {
        height: 40px;
        width: 40px;
    }

    .body {
        background: #C1EAFB;
        margin-top: 20px;

        .chat-cont {
            background: #C1EAFB;
            overflow-y: scroll;
            padding: 20px 25px;
            height: calc(100vh - 345px);

            &::-webkit-scrollbar {
                width: 10px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $dblue;
                border-radius: 85px;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $dblue;
                cursor: pointer;

            }
        }

        .date {
            font-size: 12px;
        }

        .symptoms {
            background: $dblue;
            color: #fff;
            border-radius: 6px;
            padding: 7px 15px;
            font-size: 12px;
            margin-bottom: 10px;

            .label {
                color: #fff;
                text-transform: none;
            }
        }

        .nurse-msg {
            margin: 0 0 0px 0;
            padding-right: 20px;

            .message {
                background: #fff;
                border-radius: 6px;
                margin-left: 15px;
                padding: 15px;
                width: auto;
                font-size: 12px;
                    word-break: break-word;
                p {
                    margin-bottom: 0;
                }
            }
        }

        .my-msg {
            margin: 0 0 0px 0;
            padding-right: 20px;

            .message {
                color: #fff;
                background: #538FB5;
                border-radius: 6px;
                margin-right: 15px;
                float: right;
                padding: 15px;
                width: auto;
                font-size: 12px;
                word-break: break-all;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .message-box {
        background: #fff;
        //        padding: 10px 25px;
        height: -webkit-fill-available;
        height: 75px;

        form {
            width: 100%;
        }

        input {
            border-radius: 18px;
            border: 1px solid #0B5388;
            outline: 0;
            width: 100%;
        }

        .button {
            padding: 10px 0;
            outline: 0;
            border: none;
            width: 100%;
            cursor: pointer;
        }

        .send {
            height: calc(1.5em + 0.55rem + 2px);
        }
    }
}

input[type='email'] {
    border: 1px solid #0B5388;

}

input[type='password'],
input[type='number'],
input[type='text'] {
    border: 1px solid #0B5388;
    background: #fff;
    -webkit-appearance: none;
    margin: 0;

    &::placeholder {
        font-size: 0.9rem;
    }

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.prescription {
    padding: 14px 20px;
    background: #F5F5F5;
    height: calc(100vh - 214px);
    overflow: auto;

    p {
        font-size: 14px;
        margin-bottom: 7px;
        color: #707070;
        font-weight: 600;
    }

    textarea {
        width: 100%;
        min-height: 60px;
        resize: none;
        border-radius: 10px;
        border: 1px solid $dblue;
        margin-bottom: 7px;

        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $dblue;
            border-radius: 85px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $dblue;
            cursor: pointer;

        }
    }

    h4,
    h6 {
        color: #085784;
        font-weight: 600;
    }

    .nurse-mh-panel {
        height: calc(100vh - 410px);
        background: #fff;
        overflow-y: auto;
        border: 1px solid #707070;
        padding: 15px;

        textarea {
            width: 100%;
            min-height: 60px;
            resize: none;
            border-radius: 10px;
            border: 1px solid $dblue;
            margin-bottom: 7px;
    
            &::-webkit-scrollbar {
                width: 10px;
            }
    
            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
    
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $dblue;
                border-radius: 85px;
            }
    
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $dblue;
                cursor: pointer;
    
            }
        }
        label {
            font-size: .9rem;
            font-weight: 600;
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $dblue;
            border-radius: 85px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $dblue;
            cursor: pointer;

        }

        .ros {
            border: 1px solid #707070;
            padding: 15px;

        }
    }

}

.nurse-side {
    padding-left: 15px;
    padding-right: 15px;

    .search {
        padding: 16px 17px 13px 16px;

        input[type='text'] {
            border-radius: 80px;
            background: #F5F5F5;
            border: 1px solid $dblue;
            padding-right: 40px;

            &::placeholder {
                color: $dblue;
            }
        }

        img {
            height: 19px;
            right: 13px;
            top: 9px;
        }
    }

    .p-history {
        background: #F5F5F5;
        height: calc(100vh - 453px);
        padding: 8px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $dblue;
            border-radius: 85px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $dblue;
            cursor: pointer;

        }
    }

    .available-doctors {
        background: #F5F5F5;
        height: calc(100vh - 460px);

        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $dblue;
            border-radius: 85px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $dblue;
            cursor: pointer;

        }
    }

    h5 {
        color: $dblue;
        padding-top: 16px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    .doctors {
        padding: 0px 17px 13px 16px;
    }

    .doctor-profile {
        height: 35px;
        width: 35px;
    }

    .doc-name {
        line-height: 1.2;
    }

    .patient-info-side {
        margin-bottom: 20px;

        .head {
            background: $lblue;
            padding: 12px 10px;

            p {
                margin: 0;
                color: $dblue;
                font-weight: 600;
            }
        }

        .content {
            padding: 12px 10px;
            background: #F5F5F5;
            max-height: 188px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 10px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $dblue;
                border-radius: 85px;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $dblue;
                cursor: pointer;

            }

            p {
                font-size: 14px;
            }


        }
    }

    .nav-tabs {
        li {
            a {
                font-size: 11px;
                color: #085784;
                font-weight: 600;
            }
        }
    }
}

.fc-white {
    color: #fff !important;
}

.history-bg {
    background: #085784 !important;
}

.history-card {
    overflow-y: auto;

    .table {
        border: 1px solid #dee2e6;
        padding: 10px;

        td {
            font-size: 13px;
        }
    }
}

.accordion {
    .card {
        td {
            border-top: 0;
            padding-left: 0;

        }
    }

    h4 {
        color: #085784;
        font-weight: 600;
    }
}

.ROS {
    font-size: 12px;
    margin-top: 1.3rem;
    padding: 0;
    list-style-type: none;

    .ROS-parent {
        h6 {
            color: #085784;
            font-weight: 600;
        }
    }

}

.loader {
    display: none;
    text-align: center;
    background-color: rgba(255, 255, 255, .6);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
